@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

section .card .image{

    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background-color: #7d2ae8;

}

section .card .image img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;

}

.card{
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    
}

.card::before{
    content: "";
    position: absolute;
    height: 55%;
    width: 100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
}

.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;

}

.name-profession .name{
    font-size: 20px;
    font-weight: 600;
}

.name-profession .profession{
    font-size: 15px;
    font-weight: 500;
}
.card .about{
    width:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}
.about  .about-me{
    font-size: 15px;
    font-weight: 600;
    
    }
   