* {
  color: rgb(240, 240, 240);
  font-size: 35px;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: rgb(60, 70, 83);
}

div {
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

div:hover > .flipText {
  animation: 1s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
