@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --col-accent: rgb(230, 69, 217);
    --col-primary: rgb(84, 25, 87);
    --col-light-black: rgb(44, 44, 44);
    --col-white: #fff;
    --col-dark-white: rgb(232, 232, 232);
    --col-accent-shadow: rgb(255, 213, 249);
    --col-shadow: rgb(17, 17, 17, 0.15);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(52, 42, 125);
    background: linear-gradient(137deg, rgba(52, 42, 125, 1) 0%, rgba(247, 137, 249, 1) 100%);
}

.player-container {
    width: 380px;
    border-radius: 15px;
    padding: 25px 30px;
    background: var(--col-white);
    box-shadow: 0 6px 15px var(--col-shadow);
}

.player-container i {
    cursor: pointer;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-container i {
    font-size: 30px;
    color: var(--col-accent);
}

.top-container span {
    font-size: 18px;
    color: var(--col-accent);
}

.img-area {
    height: 270px;
    width: 100%;
    background: var(--col-primary);
    box-shadow: 0 6px 15px var(--col-shadow);
    border-radius: 5px;
    margin: 15px 0;
    overflow: hidden;
}

.img-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.song-details {
    margin: 10px 0;
}

.song-details .name {
    font-size: 1.3rem;
}

.song-details .artist {
    font-size: 1rem;
    opacity: 0.8;
}

.progress-area {
    height: 5px;
    width: 100%;
    background: var(--col-dark-white);
    border-radius: 50px;
    cursor: pointer;
}

.progress-area .progress-bar {
    height: inherit;
    width: 50%;
    position: relative;
    background: linear-gradient(90deg, rgb(27, 16, 112) 0%, var(--col-dark-white) 100%);
    border-radius: inherit;
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background: black;
    border-radius: inherit;
    top: 50%;
}

.timer {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.512);
}

.controls {
    height: 50px;
    width: 100%;
    background-color: rgba(243, 243, 21, 0.684);
}