body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(122, 184, 124);
    color: rgb(212, 212, 212);
    letter-spacing: 2px;
}

.container {
    background-color: rgb(72, 117, 79);
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;

}
.title{
    font-size: 70px;
    margin: 0;
}
button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    margin: 0 7px;
    box-shadow: 2px 2px 10px black;
}
button:hover{
    cursor: pointer;
}
.quote{
    margin-bottom: 40px;
}
i{
    font-size: 40px;
}