body{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    height:100vh;
}

nav{
    position:fixed;
    padding:0.5rem 0rem;
    top:0;
    width:100%;
    background-color:black;
    opacity:0.7;
    box-sizing: border-box;
}

.brand{
    width:25%;
    float: left;
    padding-left:0.5rem;
    font-size:1.5rem;
    cursor: default;
}

.nav-links{
    width:50%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link{
    font-size:1.1rem;
    padding:0rem 2rem;
    color:white;
    text-decoration: none;
    font-weight:lighter;
}

.intro-section{
    background-color:#181818;
}

.intro{
    display:flex;
    align-items: center;
}

.intro-text{
    position:relative;
    top:20vh;
    background: linear-gradient(to right, #a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);      
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size:2.5rem;
    padding-left:20px;
    font-family: 'Courier New', Courier, monospace;
}

.about-section{
    padding-top:10vh;
    background-color: #a0e9ff;
}

.skill-section{
    background-color:#a162e8;
}

.contact-section{
    background-color: #f093b0;
}

footer{
    position: relative;
    bottom:0;
    height:2rem;
    padding:1rem 0rem;
    text-align: center;
    background-color:white;
    font-weight:600;
}

.about-box{
    background-color:white;
    margin:0px 1rem;
    height:80vh;
    border-radius:20px;
    opacity:0.8;
    text-align: center;
    padding:0.5rem 5rem;
    color: black;
}

.sect-head{
    font-size:2rem;
    font-family: 'Courier New', Courier, monospace;
}

.sect-p{
    padding-top:10vh;
    word-spacing:2px;
}

@media (max-width:768px){
    .brand,.nav-links{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .brand{
        padding-left:0;
    }
    .nav-links{
        padding-top:10px;
    }
    .nav-link{
        font-size:0.86rem;
    }
}

@media(max-width:540px){
    .intro-text{
        top:20vh;
        width:100%;
        float: none;
        padding-left:10px;
        font-size:1.7rem;
    }
    .about-box{
        padding:0.5rem 0rem;
    }
    .sect-p{
        padding-top:0;
    }
}