* {
  margin: 0;
  padding: 0;
  color: #FFF;
}

canvas#canvas {
  display: block;
  background: #000;
}

ul#navigation {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  margin-right: 1.6rem;
  font-size: 0.8rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

ul#navigation > li {
  display: inline-block;
}