* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #171b1d;
  width: 100%;
}

h3 a {
  color: #5d5d5d;
  font-size: 25px;
  text-decoration: none;
}

#nav-container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

#menu-container {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu-item {
  color: white;
  cursor: pointer;
}

.menu-item a {
  text-decoration: none;
  color: #5d5d5d;
}

.drop-down {
    color: #5d5d5d;
}

.drop-down i {
  transition-duration: 500ms;
  color: #5d5d5d;
}

.drop-down:hover i {
  transform: rotate(180deg);
}

.drop-down-item {
  position: absolute;
  background: #171b1d;
  padding: 0 0 0 10px;
  min-width: 120px;
  margin-top: 10px;
  top: -200px;
  transition-duration: 500ms;
  box-shadow: 0 0 2px #5d5d5d;
}

.drop-down:hover .drop-down-item {
  top: 60px;
}

.drop-down-item li {
  list-style: none;
  padding: 5px 0;
  margin-bottom: 10px;
}

#btn-toggle {
  display: none;
  background: transparent;
  border: 1px solid #5d5d5d;
  border-radius: 5px;
  color: #5d5d5d;
}

#menu-container-toggle {
  display: none;
  background: #171b1d;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  transition-duration: 1000ms;
}

#menu-container-toggle li {
  list-style: none;
  padding: 5px 5px;
  margin-bottom: 10px;
  max-width: 150px;
}

.btn-theme {
    color: #5d5d5d;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


/*----------------------
media query 
------------------------*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #nav-container {
    width: 320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  #menu-container-toggle {
    justify-content: center;
    transition-duration: 1000ms;
  }

  #menu-container {
    display: none;
  }

  .drop-down:hover .drop-down-item {
    top: 260px;
    left: 50%;
  }

  #btn-toggle {
    display: block;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #nav-container {
    width: 100%;
    padding: 10px 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  #menu-container-toggle {
    justify-content: center;
    transition-duration: 1s;
  }

  #menu-container {
    display: none;
  }

  .drop-down:hover .drop-down-item {
    top: 260px;
    left: 50%;
  }

  #btn-toggle {
    display: block;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #nav-container {
    width: 769px;
  }
}
