#clock,
#calculator {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  box-sizing: border-box;
}

#clock {
  position: relative;
  left: 250px;
  margin-top: 2em;
}

.calculator {
  position: relative;
  left: 100px;
  /* width: 300px; */
}

#container {
  height: 300px;
  display: flex;
  justify-content: space-between;
}

h2 {
  padding: 20px;
  text-align: center;
  background-color: #505050;
  color: #ffa500;
  margin: 0px;
}

body {
  background-color: lightskyblue;
  margin: 0px;
}

#alarmlabel {
  font-size: 18px;
  padding: 1em 0em;
}


button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
}

/* 
  .container {
    width: 20em;
  }
   */
.container>p {
  text-align: center;
}

.calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  max-width: 15em;
  /* overflow: hidden; */
}

.calculator__display {
  background-color: #222222;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  font-size: 1.714285714em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.calculator__keys {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keys>* {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}

.calculator__keys>*:active::before,
.calculator__keys>.is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: #eee;
}

.key--equal {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  grid-column: -2;
  grid-row: 2 / span 4;
}

.names {
  font-weight: 200;
  text-align: center;
  font-size: large;
  position: fixed;
  top: 55px;
  text-decoration: underline;
}