@import url("https://fonts.googleapis.com/css2?family=Russo+One");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Russo One";
  background-color: #CCCCCC;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 42px;
}

h3 {
    color: #F70000;
    display: inline;
}

.social-list {
  list-style: none;
  display: flex;
  margin-top: 30px;
}


.social-link {
  background-color: #CCCCCC;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  box-shadow: 10px 10px 15px -5px rgba(131, 137, 150, .4);
  border-radius: 50%;
  cursor: pointer;
}

.social-link:hover {
  box-shadow: 10px 10px 15px -5px rgba(131, 137, 150, .4), inset 15px 15px 15px -5px rgba(131, 137, 150, .2);
}

.social-link > .fa {
  font-size: 45px;
}

.social-link:hover > .fa-youtube {
  color: #F70000;
}
.social-link:hover > .fa-twitch {
  color: #8C44F7;
}
.social-link:hover > .fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}
