* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #4f6d7a;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: grid;
  place-items: center;
  position: relative;
  width: 255px;
  height: 355px;
  border-radius: 1em;
  background: linear-gradient(50deg, #2a5a3b, #1e4886);
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  width: 450px;
  height: 35px;
  top: 0;
  right: 30px;
  transition: 1.9s;
  background: linear-gradient(50deg, #00ff59, #02b3ff);
  transform: rotate(-45deg) translate(0, -100px);
}

.card {
  display: grid;
  place-items: center;
  width: 247px;
  height: 347px;
  background: #171614;
  border-radius: 0.8em;
  z-index: 1;
  color: #858585;
  overflow: hidden;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.card:hover {
  color: #fff;
}

.container:hover::before {
  animation: effect 1.9s;
}

@keyframes effect {
  100% {
    transform: rotate(-45deg) translate(0, 450px);
  }
}
