*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.hero {
  text-align: center;
}

.container {
  width: 1000px;
}

button {
  width: 100%;
  padding: 0.6rem 1.5rem;
  border-radius: 0.375rem;
  background-color: #4f46e5;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  line-height: 1.5;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
}

button:hover {
  background-color: #1f17b1;
}

.switch {
  background-color: #ffffff;
  color: #4f46e5;
  margin-left: 20px;
}

button.switch:hover {
  background-color: #5a6268;
  color: white;
}

.box {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  width: 250px;
  text-align: left;
}

.pricing {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.cost {
  font-size: 3rem;
  font-weight: 900;
}

.text-small {
  font-size: 0.875rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li:before {
  content: '✓ ';
}

.mt-1 {
  margin-top: 0.875rem;
}

.mt-2 {
  margin-top: 1.75rem;
}

.mb-1 {
  margin-bottom: 0.875rem;
}

.mb-2 {
  margin-bottom: 1.75rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

.blue {
  color: #4f46e5;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

.my {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pt-1 {
  padding-top: 0.875rem;
}

.py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pt-5 {
  padding-top: 3rem;
}

.text-lighter {
  color: #333;
  opacity: 0.7;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
