* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	font-family: 'Inter', sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #555;
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
	width: 100rem;
	padding: 0 3.2rem;
}

.bluebgd {
	background-color: hsla(228, 69%, 55%, 0.198);
}

/* ****************************************** */
/* GRID SETTINGS */
/* ****************************************** */

.grid {
	display: grid;
	column-gap: 6.4rem;
	row-gap: 9.6rem;
}

.heading-primary {
	font-weight: 700;
	color: #333;

	letter-spacing: -0.5px;
}
.heading-primary {
	font-size: 5.2rem;
	line-height: 1.05;
	margin-bottom: 3.2rem;
	color: #e8f0f7;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0c122c;
	height: 9.6rem;
	padding: 0 4.8rem;
	position: relative;
}

/* ************************************** */
/* NAVIGATION */
/* ************************************** */
.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: right;

	gap: 4.8rem;
	padding: 2rem 0;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #68fbd0;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
	padding: 1.2rem 2.4rem;
	border-radius: 9px;
	color: #0c122c;
	background-color: #68fbd0;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
	background-color: #3b5bdb;

	color: #fff;
}

/* MOBILE */

.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;
	display: none;
}

.icon-mobile-nav {
	height: 4.8rem;
	width: 4.8rem;
	color: #fff;
}

/* Selection based on attributes */
.icon-mobile-nav[name='close-outline'] {
	display: none;
}

.sticky .header {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 8rem;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #0c122c;
	z-index: 999;
	box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
	margin-top: 9.6rem;
}

.sticky .section-hero {
	margin-top: 9.6rem;
}
/* ************************************** */
/* HEADER SECTION */
/* ************************************** */
.section-hero {
	height: 100vh;
	background-image: linear-gradient(
		to left,
		rgba(44, 44, 44, 0.226),
		rgba(29, 29, 31, 0.815)
	);
	background-size: cover;
	color: #e8f0f7;
	padding: 4.8rem 0 9.6rem 0;
}

.hero {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 9.6rem;
	align-items: center;
}

.hero-description {
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}

/* ************************************** */
/* FOOTER*/
/* ************************************** */

.footer {
	padding: 8.8rem 0;
	border-top: 1px solid #eee;
}

.copyright {
	font-size: 1.4rem;
	color: #767676;
	line-height: 1.6;
	margin-top: auto;
	text-align: center;
}

/* *************************************
Media Queries
************************************** */

/* ************************************** */
/* BELOW 1200px (Landscape Tablets) */
/* ************************************** */

@media (max-width: 75em) {
	html {
		font-size: 56.25%;
	}

	.grid {
		column-gap: 4.8rem;
		row-gap: 6.4rem;
	}

	.header {
		padding: 0 3.2rem;
	}

	.main-nav-list {
		gap: 3.2rem;
	}

	.hero {
		gap: 4.8rem;
	}
}

/* ************************************** */
/* BELOW 944px (Tablets) */
/* ************************************** */

@media (max-width: 59em) {
	html {
		font-size: 50%;
	}

	.hero {
		grid-template-columns: 1fr 1fr;
		padding: 0 8rem;
		gap: 6.4rem;
	}

	/* Mobile navigation */

	.btn-mobile-nav {
		display: block;
		z-index: 9999;
	}

	.main-nav {
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);

		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease-in;
		pointer-events: none;
		visibility: hidden;
	}

	.nav-open .main-nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
	}

	.nav-open .icon-mobile-nav[name='close-outline'] {
		display: block;
	}
	.nav-open .icon-mobile-nav[name='menu-outline'] {
		display: none;
	}

	.main-nav-list {
		flex-direction: column;
		gap: 4.8rem;
	}

	.main-nav-link:link,
	.main-nav-link:visited {
		font-size: 3rem;
	}
}
/* ************************************** */
/* BELOW 704px (Smaller Tablets) */
/* ************************************** */
@media (max-width: 44em) {
	.container {
		width: 90%;
	}
}
/* ************************************** */
/* BELOW 544px (Smart Phones) */
/* ************************************** */
@media (max-width: 34em) {
	.section-hero {
		background-size: contain;
		background-repeat: no-repeat;
	}

	.hero-description {
		margin-bottom: 4rem;
	}

	.grid {
		row-gap: 4.8rem;
	}

	.section-hero {
		padding: 2.4rem 0 6.4rem 0;
	}

	.hero {
		padding: 0 3.2rem;
	}
}
