* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1488CC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 30px;
  color: rgba(255, 255, 255, 0.885);
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin-top: 35px;
}

button {
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  border: none;
  font-size: 35px;
}

.dark-mode {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFC83D;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 15px auto;
}