@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Oswald:wght@200;400;600&display=swap');

:root {
    --primary-color: #254021;
    --primary-color-dark: #182614;
    --primary-color-light: #50732D;
    --secondary-color: #6A8AA6;
    --ternary-color: #BF877A;

    --sans: 'Oswald', sans-serif;
    --serif: 'Cormorant Garamond', serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--serif);
}

h1 {
    margin-bottom: 80px;
    padding-left: 10px;
    font-family: var(--sans);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: var(--secondary-color);
}

h2 {
    font-family: var(--sans);
}

* a {
    color: inherit;
    text-decoration: none;
}

* a:hover {
    color: var(--primary-color-light);
}

body {
    background-color: var(--primary-color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

main {
    width: 90%;
    max-width: 1200px;
    height: 80%;
    text-align: center;
    margin-bottom: 30px;
}

#cards-container > ul {
    display: flex;
    position: relative;
    width: 100%;
}

#cards-container > ul > li {
    margin-left: -200px;
}

.card {
    position: relative;
    isolation: isolate;
    width: 40%;
    min-width: 400px;
    height: 600px;
    margin-inline: auto;  
    overflow: hidden;
    transform: perspective(1000px) rotateY(45deg) scale(.75);
    box-shadow: 0px 0px 15px 5px var(--primary-color-dark);
}

.card:after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 100;
    background-color: var(--primary-color-dark);
    opacity: .25;
}

.active-card {
    transform: perspective(1000px) rotateY(0deg) scale(1);
}
.active-card:after {
    opacity: 0;
}

.after {
    transform: perspective(1000px) rotateY(-45deg) scale(.75);
}

.card-image > img {
    position: absolute;
    top: -30%;
    left: 0;
    min-height: 100%;
    z-index: -1;
}

.card-text {
    position: absolute;
    bottom: 0;
    padding: 15%;
    z-index: 10;
    width: 100%;
    height: 50%;
    clip-path: polygon(0% 0%,100% 20%,100% 100%,0% 100%);
    background-color: var(--secondary-color);
    color: var(--primary-color-dark);
    font-size: 1.8em;
}


