:root {
    --primary-color: #254021;
    --primary-color-dark: #182614;
    --primary-color-light: #50732D;
    --secondary-color: #6A8AA6;
    --ternary-color: #BF877A;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color-dark);
}