@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Oswald:wght@200;400;600&display=swap');

:root {
    --primary-color-dark: #182614;
    --secondary-color: #6A8AA6;
    --ternary-color: #BF877A;

    --sans: 'Oswald', sans-serif;
    --serif: 'Cormorant Garamond', serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--serif);
}

h1 {
    margin-bottom: 80px;
    font-family: var(--sans);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: var(--secondary-color);
}

h2 {
    font-family: var(--sans);
}

* a {
    color: inherit;
    text-decoration: none;
}

* a:hover {
    color: var(--secondary-color);
}

body {
    background-color: var(--primary-color-dark);
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

main {
    width: 98%;
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 30px;
}

#cards-container > ul {
    position: relative;
    isolation: isolate;
    height: 600px; 
}

.card {
    position: absolute;
    top: 0;
    left: 50%;
    isolation: isolate;
    width: 40%;
    min-width: 400px;
    height: 100%; 
    overflow: hidden;
    transform: perspective(1000px) rotateY(45deg) scale(.75);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px var(--primary-color-dark);
    transition: transform 2s, translate 2s;
}

.card:after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 100;
    background-color: var(--primary-color-dark);
    opacity: .25;
    transition: 2s;
}

.active-card {
    z-index: 10;
    translate: -50%;
    transform: perspective(1000px) rotateY(0deg) scale(1);
}
.active-card:after {
    opacity: 0;
    width: 0;
}

.after {
    transform: perspective(1000px) rotateY(-45deg) scale(.75);
}

.card-image > img {
    position: absolute;
    top: -30%;
    left: 0;
    min-height: 100%;
    z-index: -1;
}

.card-text {
    position: absolute;
    bottom: 0;
    padding: 15%;
    z-index: 10;
    width: 100%;
    height: 50%;
    clip-path: polygon(0% 0%,100% 20%,100% 100%,0% 100%);
    background-color: var(--ternary-color);
    color: var(--primary-color-dark);
    font-size: 1.8em;
}

#slide {
    width: fit-content;
    margin: 20px auto;
}

#slide > button {
    position: relative;
    margin: 0 30px;
    width: 60px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    background-color: var(--secondary-color);
    opacity: .5;
}

#slide > button:disabled:hover {
    opacity: .5;
}

#slide > button:hover {
    opacity: .8;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 25px;
}

.right > svg {
   rotate: 180deg; 
}