
* {
  background-color: #967969;
  font-family:Verdana;
}

#first {
  align-items: center;
  width: 700px;
  height: 700px;
  background: #FDF5E6;
  overflow: hidden;
  position: center;
  border:10px black solid;
}

#second {
  position: relative;
  width: 50%;
  height: 70%;
  margin: auto;
  background: #FFFFFF;
}

.image-play{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#commands{
    display:flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.2s;
    background: #FFFFFF;
}

.slider_container,
.song,
.artist{
  display: flex;
  justify-content: center;
  align-items: center;
}

#volume-bar{
    display: flex;
    justify-content: center;
}

.current-time,
.total-duration{
    padding: 10px;
}