@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1c1624;
  overflow: hidden;
  font-family: "Russo One", sans-serif;
  transform-style: preserve-3d;
}

.thank {
  opacity: 0;
  color: #fae428;
  font-size: 1.5em;
}

.button {
  position: absolute;
  margin: 0 auto;
  width: 250px;
  border: 1px solid #fae428;
  color: #fae428;
  border-radius: 0.1em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  height: 76px;
  opacity: 1;
  transition: all 0.2s ease;
  line-height: 30px;
  perspective: 1000px;
  transform-style: preserve-3d;
  perspective-origin: 49% 50%;
  display: flex;
  justify-content: center;
}
.button p {
  transition: all 0.2s ease;
  user-select: none;
  line-height: 33px;
  position: absolute;
}

#stars {
  width: 2px;
  height: 2px;
  box-shadow: 2px 204px rgba(165, 190, 195, 0.9),
    492px 471px rgba(184, 174, 131, 0.9), 954px 52px rgba(184, 174, 131, 0.3),
    801px 1915px rgba(184, 174, 131, 0.3), 780px 349px rgba(184, 174, 131, 0.1),
    181px 309px rgba(184, 174, 131, 1), 624px 821px rgba(184, 174, 131, 0.1),
    531px 36px rgba(184, 174, 131, 0.4), 396px 366px rgba(184, 174, 131, 0.3),
    441px 1141px rgba(184, 174, 131, 0.2),
    1437px 1677px rgba(184, 174, 131, 0.9),
    977px 1974px rgba(184, 174, 131, 0.9), 1551px 747px rgba(184, 174, 131, 0.2),
    1291px 1589px rgba(184, 174, 131, 0.2),
    1083px 1012px rgba(184, 174, 131, 0.6),
    163px 1005px rgba(184, 174, 131, 0.8), 310px 737px rgba(184, 174, 131, 0.3),
    79px 823px rgba(184, 174, 131, 0.4), 536px 280px rgba(184, 174, 131, 0.2),
    553px 1187px rgba(184, 174, 131, 0.3), 889px 1756px rgba(184, 174, 131, 0.4),
    1720px 775px rgba(184, 174, 131, 0.5), 1792px 181px rgba(184, 174, 131, 0.3),
    1573px 781px rgba(184, 174, 131, 0.8), 1378px 685px rgba(184, 174, 131, 0.7),
    1981px 1861px rgba(184, 174, 131, 1), 110px 556px rgba(184, 174, 131, 0.3),
    750px 184px rgba(184, 174, 131, 0.9), 1755px 1571px rgba(184, 174, 131, 1),
    784px 1321px rgba(184, 174, 131, 0.7), 1206px 236px rgba(184, 174, 131, 1),
    329px 386px rgba(184, 174, 131, 0.3), 1963px 1998px rgba(184, 174, 131, 0.7),
    1695px 862px rgba(184, 174, 131, 0.3), 1087px 910px rgba(184, 174, 131, 0.3),
    267px 720px rgba(184, 174, 131, 1), 1054px 1153px rgba(184, 174, 131, 1),
    1877px 1498px rgba(184, 174, 131, 1), 1374px 178px rgba(184, 174, 131, 0.6),
    44px 215px rgba(184, 174, 131, 0.7), 1631px 716px rgba(184, 174, 131, 0.5),
    1892px 214px rgba(184, 174, 131, 0.6), 706px 825px rgba(184, 174, 131, 0.5),
    1703px 920px rgba(184, 174, 131, 1), 1085px 80px rgba(184, 174, 131, 0.5),
    302px 1158px rgba(184, 174, 131, 0.8), 732px 933px rgba(184, 174, 131, 0.4),
    1042px 1711px rgba(184, 174, 131, 0.8),
    1279px 1252px rgba(184, 174, 131, 0.7),
    1312px 1873px rgba(184, 174, 131, 0.7),
    1591px 1293px rgba(184, 174, 131, 0.2),
    1553px 985px rgba(184, 174, 131, 0.1),
    1246px 1673px rgba(184, 174, 131, 0.2),
    1537px 1772px rgba(184, 174, 131, 0.1), 782px 331px rgba(184, 174, 131, 0.8),
    921px 1098px rgba(184, 174, 131, 0.6), 394px 1660px rgba(184, 174, 131, 0.8),
    655px 1984px rgba(184, 174, 131, 0.6), 628px 168px rgba(184, 174, 131, 0.8),
    1268px 51px rgba(184, 174, 131, 0.1), 1085px 1069px rgba(184, 174, 131, 0.9),
    1754px 1534px rgba(184, 174, 131, 0.4),
    980px 1984px rgba(184, 174, 131, 0.9),
    1561px 1923px rgba(184, 174, 131, 0.1),
    1151px 1534px rgba(184, 174, 131, 0.2),
    1242px 1657px rgba(184, 174, 131, 0.3), 315px 364px rgba(184, 174, 131, 1),
    638px 902px rgba(184, 174, 131, 0.1), 1229px 194px rgba(184, 174, 131, 0.9),
    1184px 950px rgba(184, 174, 131, 1), 156px 1728px rgba(184, 174, 131, 0.2),
    154px 1389px rgba(184, 174, 131, 0.5),
    1778px 1049px rgba(184, 174, 131, 0.3),
    133px 1930px rgba(184, 174, 131, 0.6), 1632px 210px rgba(184, 174, 131, 0.6),
    980px 727px rgba(184, 174, 131, 0.1), 342px 667px rgba(184, 174, 131, 0.2),
    1001px 268px rgba(184, 174, 131, 0.3), 559px 692px rgba(184, 174, 131, 1),
    1282px 964px rgba(184, 174, 131, 0.3), 1137px 538px rgba(184, 174, 131, 0.1),
    1360px 1388px rgba(184, 174, 131, 0.3),
    1039px 848px rgba(184, 174, 131, 0.4), 278px 1901px rgba(184, 174, 131, 0.7),
    1151px 1684px rgba(184, 174, 131, 0.9),
    634px 1731px rgba(184, 174, 131, 0.1), 980px 176px rgba(184, 174, 131, 0.2),
    1067px 1619px rgba(184, 174, 131, 1), 781px 409px rgba(184, 174, 131, 0.4),
    1462px 59px rgba(184, 174, 131, 0.5), 1757px 996px rgba(184, 174, 131, 0.6),
    930px 1790px rgba(184, 174, 131, 1), 1736px 1441px rgba(184, 174, 131, 0.7),
    948px 1642px rgba(184, 174, 131, 0.5), 300px 1603px rgba(184, 174, 131, 1),
    884px 1054px rgba(184, 174, 131, 0.9),
    1908px 1088px rgba(184, 174, 131, 0.2),
    1433px 1171px rgba(184, 174, 131, 0.5), 196px 452px rgba(184, 174, 131, 0.1),
    760px 1130px rgba(184, 174, 131, 0.5), 1032px 864px rgba(184, 174, 131, 0.3),
    1825px 477px rgba(184, 174, 131, 0.1), 614px 263px rgba(184, 174, 131, 0.3),
    1108px 209px rgba(184, 174, 131, 0.5), 371px 524px rgba(184, 174, 131, 0.7),
    391px 1975px rgba(184, 174, 131, 1), 281px 1515px rgba(184, 174, 131, 0.6),
    1800px 364px rgba(184, 174, 131, 0.5), 1342px 1339px rgba(184, 174, 131, 1),
    1850px 828px rgba(184, 174, 131, 0.6), 869px 1637px rgba(184, 174, 131, 0.1),
    277px 1524px rgba(184, 174, 131, 0.6), 860px 1973px rgba(184, 174, 131, 0.7),
    831px 499px rgba(184, 174, 131, 0.2), 333px 1742px rgba(184, 174, 131, 0.5),
    74px 262px rgba(184, 174, 131, 0.3), 705px 1262px rgba(184, 174, 131, 0.4),
    950px 188px rgba(184, 174, 131, 0.6), 1267px 1078px rgba(184, 174, 131, 0.7),
    106px 184px rgba(184, 174, 131, 0.9), 760px 379px rgba(184, 174, 131, 0.6),
    211px 888px rgba(184, 174, 131, 0.8), 1485px 1071px rgba(184, 174, 131, 0.4),
    137px 591px rgba(184, 174, 131, 0.1), 275px 1191px rgba(184, 174, 131, 0.3),
    448px 1552px rgba(184, 174, 131, 0.2), 781px 1399px rgba(184, 174, 131, 0.7),
    364px 1023px rgba(184, 174, 131, 0.8), 352px 1304px rgba(184, 174, 131, 0.5),
    1023px 1072px rgba(184, 174, 131, 0.6), 1092px 13px rgba(184, 174, 131, 1),
    1469px 1442px rgba(184, 174, 131, 1), 1815px 1992px rgba(184, 174, 131, 0.6),
    1011px 1476px rgba(184, 174, 131, 0.5),
    1485px 1830px rgba(184, 174, 131, 0.1), 1393px 493px rgba(184, 174, 131, 1),
    1457px 114px rgba(184, 174, 131, 0.1), 1465px 236px rgba(184, 174, 131, 0.4),
    1240px 1672px rgba(184, 174, 131, 0.4), 141px 1009px rgba(184, 174, 131, 1),
    1279px 64px rgba(184, 174, 131, 0.2), 1644px 1647px rgba(184, 174, 131, 0.4),
    1546px 1207px rgba(184, 174, 131, 0.4), 145px 914px rgba(184, 174, 131, 0.9),
    64px 1479px rgba(184, 174, 131, 0.4), 214px 589px rgba(184, 174, 131, 0.4),
    1243px 1970px rgba(184, 174, 131, 0.4), 726px 157px rgba(184, 174, 131, 0.7),
    741px 17px rgba(184, 174, 131, 0.7), 1231px 729px rgba(184, 174, 131, 0.9),
    876px 45px rgba(184, 174, 131, 0.4), 1312px 1466px rgba(184, 174, 131, 0.8),
    486px 1014px rgba(184, 174, 131, 0.8), 197px 1082px rgba(184, 174, 131, 0.9),
    1241px 1885px rgba(184, 174, 131, 0.1), 240px 762px rgba(184, 174, 131, 0.1),
    438px 586px rgba(184, 174, 131, 0.4), 1358px 1451px rgba(184, 174, 131, 0.9),
    545px 1720px rgba(184, 174, 131, 0.2), 396px 1537px rgba(184, 174, 131, 1),
    1075px 1121px rgba(184, 174, 131, 0.9), 782px 1260px rgba(184, 174, 131, 1),
    1147px 780px rgba(184, 174, 131, 1), 420px 1740px rgba(184, 174, 131, 0.8),
    1676px 1666px rgba(184, 174, 131, 0.1),
    1134px 841px rgba(184, 174, 131, 0.1), 320px 271px rgba(184, 174, 131, 0.6),
    861px 529px rgba(184, 174, 131, 0.5), 816px 805px rgba(184, 174, 131, 0.7),
    53px 1878px rgba(184, 174, 131, 0.8), 1858px 735px rgba(184, 174, 131, 0.5),
    415px 245px rgba(184, 174, 131, 0.1), 1500px 1281px rgba(184, 174, 131, 0.1),
    644px 199px rgba(184, 174, 131, 0.1), 387px 1242px rgba(184, 174, 131, 0.3),
    705px 1903px rgba(184, 174, 131, 0.9), 1177px 12px rgba(184, 174, 131, 0.4),
    1674px 398px rgba(184, 174, 131, 1), 130px 1564px rgba(184, 174, 131, 0.3),
    700px 1797px rgba(184, 174, 131, 0.8), 716px 342px rgba(184, 174, 131, 0.5),
    1028px 144px rgba(184, 174, 131, 0.5), 407px 1147px rgba(184, 174, 131, 0.6),
    560px 986px rgba(184, 174, 131, 1), 1120px 1536px rgba(184, 174, 131, 0.6),
    537px 1344px rgba(184, 174, 131, 0.1), 92px 724px rgba(184, 174, 131, 0.2),
    1984px 1700px rgba(184, 174, 131, 0.3),
    1379px 226px rgba(184, 174, 131, 0.6), 319px 137px rgba(184, 174, 131, 0.3),
    644px 563px rgba(184, 174, 131, 0.3), 331px 1493px rgba(184, 174, 131, 0.4),
    1588px 771px rgba(184, 174, 131, 0.3), 1379px 220px rgba(184, 174, 131, 0.4),
    71px 121px rgba(184, 174, 131, 0.4), 1171px 1705px rgba(184, 174, 131, 0.6),
    1725px 684px rgba(184, 174, 131, 0.4),
    1320px 1808px rgba(184, 174, 131, 0.8),
    1881px 1837px rgba(184, 174, 131, 0.7),
    342px 1499px rgba(184, 174, 131, 0.1),
    1030px 1566px rgba(184, 174, 131, 0.1), 198px 543px rgba(184, 174, 131, 0.6),
    116px 626px rgba(184, 174, 131, 0.7), 1771px 1408px rgba(184, 174, 131, 1),
    1353px 1567px rgba(184, 174, 131, 0.7),
    264px 1191px rgba(184, 174, 131, 0.5), 1446px 674px rgba(184, 174, 131, 0.8),
    1925px 1921px rgba(184, 174, 131, 0.1), 39px 249px rgba(184, 174, 131, 0.8),
    266px 1596px rgba(184, 174, 131, 0.5),
    1127px 1406px rgba(184, 174, 131, 0.6),
    1473px 1195px rgba(184, 174, 131, 0.4), 144px 786px rgba(184, 174, 131, 0.9),
    756px 1424px rgba(184, 174, 131, 0.4), 94px 125px rgba(184, 174, 131, 0.1),
    327px 1463px rgba(184, 174, 131, 1), 1434px 1285px rgba(184, 174, 131, 0.6),
    1305px 992px rgba(184, 174, 131, 0.9), 820px 1577px rgba(184, 174, 131, 0.7),
    1734px 277px rgba(184, 174, 131, 0.2),
    1104px 1277px rgba(184, 174, 131, 0.3),
    991px 1104px rgba(184, 174, 131, 0.9), 37px 1933px rgba(184, 174, 131, 0.7),
    1338px 1540px rgba(184, 174, 131, 0.2),
    1220px 631px rgba(184, 174, 131, 0.7), 312px 1399px rgba(184, 174, 131, 0.5),
    673px 723px rgba(184, 174, 131, 0.2), 33px 1663px rgba(184, 174, 131, 0.7),
    1063px 1990px rgba(184, 174, 131, 0.1), 849px 193px rgba(184, 174, 131, 0.7),
    299px 489px rgba(184, 174, 131, 0.4), 438px 692px rgba(184, 174, 131, 0.9),
    138px 657px rgba(184, 174, 131, 0.7), 1981px 1005px rgba(184, 174, 131, 0.6),
    1966px 1356px rgba(184, 174, 131, 1), 1282px 1478px rgba(184, 174, 131, 0.8),
    130px 450px rgba(184, 174, 131, 0.5), 834px 486px rgba(184, 174, 131, 0.6),
    355px 1362px rgba(184, 174, 131, 0.3), 1349px 894px rgba(184, 174, 131, 0.8),
    896px 1782px rgba(184, 174, 131, 0.1), 380px 120px rgba(184, 174, 131, 0.9),
    1363px 966px rgba(184, 174, 131, 0.5), 765px 1973px rgba(184, 174, 131, 0.9),
    1085px 165px rgba(184, 174, 131, 0.7), 199px 1169px rgba(184, 174, 131, 0.7),
    166px 479px rgba(184, 174, 131, 0.9), 1433px 101px rgba(184, 174, 131, 0.5),
    1602px 860px rgba(184, 174, 131, 0.5), 724px 782px rgba(184, 174, 131, 0.3),
    1917px 1518px rgba(184, 174, 131, 0.7),
    1116px 896px rgba(184, 174, 131, 0.4), 1628px 584px rgba(184, 174, 131, 1),
    254px 1470px rgba(184, 174, 131, 0.4), 881px 830px rgba(184, 174, 131, 0.2),
    196px 540px rgba(184, 174, 131, 0.8), 1558px 552px rgba(184, 174, 131, 0.9),
    54px 404px rgba(184, 174, 131, 0.6), 443px 1204px rgba(184, 174, 131, 0.4),
    918px 686px rgba(184, 174, 131, 0.6), 1205px 254px rgba(184, 174, 131, 0.3),
    396px 1599px rgba(184, 174, 131, 0.9), 1186px 861px rgba(184, 174, 131, 0.4),
    571px 1709px rgba(184, 174, 131, 0.3), 283px 1166px rgba(184, 174, 131, 0.1),
    1646px 1210px rgba(184, 174, 131, 1), 1982px 29px rgba(184, 174, 131, 0.2),
    1858px 994px rgba(184, 174, 131, 0.3),
    1838px 1888px rgba(184, 174, 131, 0.1), 1329px 647px rgba(184, 174, 131, 1),
    976px 1813px rgba(184, 174, 131, 0.4),
    1470px 1098px rgba(184, 174, 131, 0.7),
    1779px 1467px rgba(184, 174, 131, 0.5),
    242px 1090px rgba(184, 174, 131, 0.8), 993px 175px rgba(184, 174, 131, 0.5),
    1038px 1988px rgba(184, 174, 131, 1), 258px 1870px rgba(184, 174, 131, 0.3),
    578px 1448px rgba(184, 174, 131, 0.6), 679px 407px rgba(184, 174, 131, 1),
    1370px 241px rgba(184, 174, 131, 1), 154px 946px rgba(184, 174, 131, 0.9),
    1768px 238px rgba(184, 174, 131, 1), 850px 354px rgba(184, 174, 131, 0.6),
    950px 1884px rgba(184, 174, 131, 0.5), 489px 593px rgba(184, 174, 131, 0.3),
    1556px 1037px rgba(184, 174, 131, 0.5), 489px 731px rgba(184, 174, 131, 0.8),
    918px 480px rgba(184, 174, 131, 0.1), 1716px 739px rgba(184, 174, 131, 0.3),
    418px 607px rgba(184, 174, 131, 0.3), 1384px 1481px rgba(184, 174, 131, 0.1),
    1769px 280px rgba(184, 174, 131, 0.2), 679px 1697px rgba(184, 174, 131, 0.9),
    457px 238px rgba(184, 174, 131, 0.4), 1402px 1286px rgba(184, 174, 131, 0.2),
    1896px 487px rgba(184, 174, 131, 1), 166px 1437px rgba(184, 174, 131, 0.9),
    1070px 1439px rgba(184, 174, 131, 0.4), 881px 981px rgba(184, 174, 131, 1),
    628px 836px rgba(184, 174, 131, 0.6), 344px 944px rgba(184, 174, 131, 0.5),
    1244px 878px rgba(184, 174, 131, 0.3),
    1170px 1235px rgba(184, 174, 131, 0.2),
    1685px 700px rgba(184, 174, 131, 0.9), 1464px 425px rgba(184, 174, 131, 0.2),
    888px 1956px rgba(184, 174, 131, 0.3), 89px 1299px rgba(184, 174, 131, 0.2),
    353px 443px rgba(184, 174, 131, 1), 1623px 966px rgba(184, 174, 131, 0.4),
    179px 1647px rgba(184, 174, 131, 0.1),
    1626px 1827px rgba(184, 174, 131, 0.7),
    1719px 397px rgba(184, 174, 131, 0.3), 336px 667px rgba(184, 174, 131, 0.7),
    352px 1425px rgba(184, 174, 131, 0.6), 350px 414px rgba(184, 174, 131, 1),
    1854px 1005px rgba(184, 174, 131, 0.8),
    1531px 1826px rgba(184, 174, 131, 0.2), 275px 832px rgba(184, 174, 131, 0.9),
    1750px 315px rgba(184, 174, 131, 0.4), 1188px 848px rgba(184, 174, 131, 0.1),
    864px 1634px rgba(184, 174, 131, 0.8), 624px 987px rgba(184, 174, 131, 0.1),
    1261px 953px rgba(184, 174, 131, 0.2), 1384px 671px rgba(184, 174, 131, 0.6),
    367px 1121px rgba(184, 174, 131, 0.9),
    1400px 1652px rgba(184, 174, 131, 0.7),
    1914px 1012px rgba(184, 174, 131, 0.9),
    1991px 1253px rgba(184, 174, 131, 0.8),
    1544px 691px rgba(184, 174, 131, 0.9), 1304px 811px rgba(184, 174, 131, 0.1),
    905px 1361px rgba(184, 174, 131, 0.4),
    1211px 1247px rgba(184, 174, 131, 0.2),
    106px 1883px rgba(184, 174, 131, 0.2), 223px 241px rgba(184, 174, 131, 0.1),
    1531px 441px rgba(184, 174, 131, 0.2),
    1980px 1104px rgba(184, 174, 131, 0.9),
    475px 1669px rgba(184, 174, 131, 0.7), 166px 51px rgba(184, 174, 131, 0.7),
    1372px 1519px rgba(184, 174, 131, 0.9),
    1926px 1086px rgba(184, 174, 131, 0.7), 960px 858px rgba(184, 174, 131, 0.8),
    1598px 712px rgba(184, 174, 131, 0.9), 1921px 608px rgba(184, 174, 131, 0.5),
    713px 1854px rgba(184, 174, 131, 0.8),
    1455px 1649px rgba(184, 174, 131, 0.2),
    157px 1316px rgba(184, 174, 131, 0.9), 477px 600px rgba(184, 174, 131, 1),
    1381px 1480px rgba(184, 174, 131, 1), 1207px 1212px rgba(184, 174, 131, 1),
    695px 1064px rgba(184, 174, 131, 0.2), 908px 1880px rgba(184, 174, 131, 0.7),
    1238px 1602px rgba(184, 174, 131, 0.3),
    1958px 788px rgba(184, 174, 131, 0.8), 672px 976px rgba(184, 174, 131, 0.2),
    7px 57px rgba(184, 174, 131, 1), 1784px 1693px rgba(184, 174, 131, 0.6),
    1882px 1697px rgba(184, 174, 131, 0.7),
    1270px 1796px rgba(184, 174, 131, 0.3),
    1493px 1056px rgba(184, 174, 131, 0.4), 536px 903px rgba(184, 174, 131, 0.6),
    1307px 1575px rgba(184, 174, 131, 0.4),
    256px 1333px rgba(184, 174, 131, 0.9), 374px 556px rgba(184, 174, 131, 0.5),
    1999px 1746px rgba(184, 174, 131, 0.1),
    837px 1501px rgba(184, 174, 131, 0.2), 1024px 314px rgba(184, 174, 131, 0.2),
    257px 994px rgba(184, 174, 131, 1), 571px 676px rgba(184, 174, 131, 0.7),
    927px 1475px rgba(184, 174, 131, 0.8), 977px 1831px rgba(184, 174, 131, 0.5),
    485px 228px rgba(184, 174, 131, 1), 350px 1549px rgba(184, 174, 131, 0.3),
    721px 220px rgba(184, 174, 131, 0.1), 846px 1910px rgba(184, 174, 131, 0.1),
    1922px 1049px rgba(184, 174, 131, 0.9),
    1241px 862px rgba(184, 174, 131, 0.4), 781px 14px rgba(184, 174, 131, 1),
    334px 1233px rgba(184, 174, 131, 0.3), 1093px 397px rgba(184, 174, 131, 0.9),
    1484px 1340px rgba(184, 174, 131, 0.4),
    1948px 986px rgba(184, 174, 131, 0.6), 1430px 368px rgba(184, 174, 131, 0.8),
    481px 1590px rgba(184, 174, 131, 1), 328px 1940px rgba(184, 174, 131, 0.7),
    360px 1089px rgba(184, 174, 131, 0.4), 246px 354px rgba(184, 174, 131, 0.6),
    1836px 995px rgba(184, 174, 131, 0.4),
    1324px 1881px rgba(184, 174, 131, 0.9), 302px 1721px rgba(184, 174, 131, 1),
    803px 1982px rgba(184, 174, 131, 0.1),
    1210px 1214px rgba(184, 174, 131, 0.7),
    1067px 1899px rgba(184, 174, 131, 0.5), 132px 285px rgba(184, 174, 131, 1),
    776px 221px rgba(184, 174, 131, 0.8), 1872px 127px rgba(184, 174, 131, 0.2),
    1236px 1234px rgba(184, 174, 131, 1), 130px 26px rgba(184, 174, 131, 0.9),
    566px 390px rgba(184, 174, 131, 0.5), 1427px 1240px rgba(184, 174, 131, 0.6),
    452px 1298px rgba(184, 174, 131, 0.8), 197px 573px rgba(184, 174, 131, 0.8),
    1542px 400px rgba(184, 174, 131, 0.3), 553px 1408px rgba(184, 174, 131, 0.2),
    1291px 1488px rgba(184, 174, 131, 0.8),
    1798px 846px rgba(184, 174, 131, 0.8), 255px 327px rgba(184, 174, 131, 0.1),
    1364px 875px rgba(184, 174, 131, 0.1), 856px 545px rgba(184, 174, 131, 0.8),
    1792px 737px rgba(184, 174, 131, 0.8), 842px 1437px rgba(184, 174, 131, 0.8),
    1448px 1418px rgba(184, 174, 131, 0.6),
    1594px 1549px rgba(184, 174, 131, 0.3),
    1588px 794px rgba(184, 174, 131, 0.9), 138px 1694px rgba(184, 174, 131, 0.7),
    540px 739px rgba(184, 174, 131, 0.4), 648px 1456px rgba(184, 174, 131, 0.2),
    628px 1521px rgba(184, 174, 131, 0.1),
    1383px 1419px rgba(184, 174, 131, 0.7), 134px 800px rgba(184, 174, 131, 0.6),
    566px 1812px rgba(184, 174, 131, 0.2), 1824px 918px rgba(184, 174, 131, 0.1),
    685px 1456px rgba(184, 174, 131, 0.5), 1115px 255px rgba(184, 174, 131, 0.4),
    251px 314px rgba(184, 174, 131, 0.1), 374px 1971px rgba(184, 174, 131, 0.8),
    1867px 193px rgba(184, 174, 131, 0.3), 140px 1776px rgba(184, 174, 131, 0.1),
    1511px 1183px rgba(184, 174, 131, 0.8),
    859px 1382px rgba(184, 174, 131, 0.4), 667px 1010px rgba(184, 174, 131, 0.8),
    893px 1121px rgba(184, 174, 131, 0.8), 833px 626px rgba(184, 174, 131, 0.7),
    1889px 501px rgba(184, 174, 131, 1), 641px 1173px rgba(184, 174, 131, 0.5),
    1933px 1986px rgba(184, 174, 131, 0.4),
    474px 1419px rgba(184, 174, 131, 0.2), 702px 538px rgba(184, 174, 131, 0.8),
    1032px 1611px rgba(184, 174, 131, 0.5),
    208px 1028px rgba(184, 174, 131, 0.5), 664px 430px rgba(184, 174, 131, 0.2),
    737px 1162px rgba(184, 174, 131, 1), 1131px 1440px rgba(184, 174, 131, 0.4),
    122px 426px rgba(184, 174, 131, 1), 455px 1347px rgba(184, 174, 131, 1),
    1223px 1829px rgba(184, 174, 131, 0.6),
    1524px 1255px rgba(184, 174, 131, 0.8), 296px 869px rgba(184, 174, 131, 0.4),
    1554px 432px rgba(184, 174, 131, 0.3), 194px 2px rgba(184, 174, 131, 0.5),
    166px 491px rgba(184, 174, 131, 0.9), 1084px 522px rgba(184, 174, 131, 0.5),
    1586px 1621px rgba(184, 174, 131, 0.5), 1245px 39px rgba(184, 174, 131, 0.5),
    723px 1864px rgba(184, 174, 131, 0.6),
    1663px 1643px rgba(184, 174, 131, 0.4), 65px 1873px rgba(184, 174, 131, 0.6),
    657px 1140px rgba(184, 174, 131, 0.9), 1121px 204px rgba(184, 174, 131, 0.4),
    954px 477px rgba(184, 174, 131, 0.4), 1262px 1361px rgba(184, 174, 131, 0.2),
    819px 1646px rgba(184, 174, 131, 0.9),
    1017px 1483px rgba(184, 174, 131, 0.5),
    864px 1077px rgba(184, 174, 131, 0.7), 1349px 719px rgba(184, 174, 131, 0.8),
    1340px 1190px rgba(184, 174, 131, 0.2),
    1505px 542px rgba(184, 174, 131, 0.6),
    1593px 1103px rgba(184, 174, 131, 0.4),
    1673px 488px rgba(184, 174, 131, 0.1), 533px 1946px rgba(184, 174, 131, 1),
    959px 1461px rgba(184, 174, 131, 0.6), 451px 590px rgba(184, 174, 131, 0.3),
    768px 479px rgba(184, 174, 131, 0.6), 787px 1519px rgba(184, 174, 131, 0.2),
    203px 1361px rgba(184, 174, 131, 0.4), 1013px 745px rgba(184, 174, 131, 0.9),
    1020px 1853px rgba(184, 174, 131, 0.5),
    1927px 1875px rgba(184, 174, 131, 0.4), 1741px 971px rgba(184, 174, 131, 1),
    1881px 1065px rgba(184, 174, 131, 0.5), 867px 343px rgba(184, 174, 131, 1),
    1126px 804px rgba(184, 174, 131, 0.8), 804px 1435px rgba(184, 174, 131, 0.2),
    776px 1590px rgba(184, 174, 131, 0.6), 1661px 768px rgba(184, 174, 131, 0.9),
    728px 452px rgba(184, 174, 131, 0.2), 789px 1041px rgba(184, 174, 131, 0.6),
    954px 824px rgba(184, 174, 131, 0.2), 250px 1969px rgba(184, 174, 131, 0.9),
    1922px 325px rgba(184, 174, 131, 0.7), 1772px 410px rgba(184, 174, 131, 0.8),
    431px 1402px rgba(184, 174, 131, 1), 1085px 448px rgba(184, 174, 131, 0.2),
    1509px 1632px rgba(184, 174, 131, 1), 1416px 412px rgba(184, 174, 131, 0.1),
    1091px 864px rgba(184, 174, 131, 0.6), 560px 330px rgba(184, 174, 131, 0.5),
    1297px 1369px rgba(184, 174, 131, 0.5),
    328px 1417px rgba(184, 174, 131, 0.4),
    1410px 1206px rgba(184, 174, 131, 0.6),
    884px 1543px rgba(184, 174, 131, 0.1),
    1474px 1481px rgba(184, 174, 131, 0.4), 323px 386px rgba(184, 174, 131, 1);
  background: transparent;
  border-radius: 100%;
  animation: blink 2s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

#stars2 {
  width: 3px;
  height: 3px;
  box-shadow: 179px 1789px rgba(165, 190, 195, 0.6),
    451px 1597px rgba(184, 174, 131, 0.4), 939px 1576px rgba(184, 174, 131, 0.4),
    1750px 1566px rgba(184, 174, 131, 0.1), 138px 995px rgba(184, 174, 131, 0.5),
    296px 718px rgba(184, 174, 131, 0.2), 1047px 1239px rgba(184, 174, 131, 0.6),
    1243px 996px rgba(184, 174, 131, 0.7),
    1347px 1532px rgba(184, 174, 131, 0.5), 806px 171px rgba(184, 174, 131, 0.7),
    886px 478px rgba(184, 174, 131, 0.6), 1232px 1669px rgba(184, 174, 131, 0.4),
    1111px 1867px rgba(184, 174, 131, 0.4), 6px 1474px rgba(184, 174, 131, 0.5),
    450px 1295px rgba(184, 174, 131, 0.7), 494px 1424px rgba(184, 174, 131, 0.1),
    1632px 761px rgba(184, 174, 131, 0.6), 1770px 246px rgba(184, 174, 131, 0.9),
    1676px 1029px rgba(184, 174, 131, 0.1),
    600px 1227px rgba(184, 174, 131, 0.4), 1039px 908px rgba(184, 174, 131, 0.6),
    1110px 1862px rgba(184, 174, 131, 0.2),
    1984px 1698px rgba(184, 174, 131, 0.2), 456px 189px rgba(184, 174, 131, 0.4),
    985px 532px rgba(184, 174, 131, 0.5), 1244px 1922px rgba(184, 174, 131, 0.4),
    605px 1826px rgba(184, 174, 131, 0.7), 177px 1460px rgba(184, 174, 131, 1),
    1521px 438px rgba(184, 174, 131, 0.2), 664px 1020px rgba(184, 174, 131, 1),
    1473px 130px rgba(184, 174, 131, 0.4),
    1156px 1110px rgba(184, 174, 131, 0.3), 616px 64px rgba(184, 174, 131, 0.7),
    1376px 1587px rgba(184, 174, 131, 0.4),
    1334px 1316px rgba(184, 174, 131, 0.5),
    1318px 931px rgba(184, 174, 131, 0.4), 1887px 66px rgba(184, 174, 131, 0.7),
    804px 817px rgba(184, 174, 131, 1), 1633px 1761px rgba(184, 174, 131, 0.4),
    634px 478px rgba(184, 174, 131, 0.4), 737px 560px rgba(184, 174, 131, 0.7),
    1154px 1408px rgba(184, 174, 131, 0.8),
    773px 1150px rgba(184, 174, 131, 0.1),
    1886px 1209px rgba(184, 174, 131, 0.4),
    1315px 357px rgba(184, 174, 131, 0.6), 566px 478px rgba(184, 174, 131, 0.6),
    538px 297px rgba(184, 174, 131, 0.4), 1013px 874px rgba(184, 174, 131, 0.8),
    615px 1887px rgba(184, 174, 131, 0.2),
    1705px 1837px rgba(184, 174, 131, 0.2),
    1933px 1365px rgba(184, 174, 131, 0.5), 510px 730px rgba(184, 174, 131, 0.6),
    1264px 899px rgba(184, 174, 131, 0.1), 1265px 251px rgba(184, 174, 131, 0.5),
    1639px 1978px rgba(184, 174, 131, 0.1), 332px 322px rgba(184, 174, 131, 0.7),
    1646px 1512px rgba(184, 174, 131, 0.3),
    1749px 898px rgba(184, 174, 131, 0.9), 271px 1486px rgba(184, 174, 131, 0.8),
    1539px 698px rgba(184, 174, 131, 0.8), 663px 1579px rgba(184, 174, 131, 0.9),
    1124px 552px rgba(184, 174, 131, 1), 1886px 220px rgba(184, 174, 131, 1),
    1971px 1218px rgba(184, 174, 131, 1), 1519px 268px rgba(184, 174, 131, 0.5),
    725px 726px rgba(184, 174, 131, 0.9), 1240px 1454px rgba(184, 174, 131, 1),
    1886px 172px rgba(184, 174, 131, 0.2), 551px 1697px rgba(184, 174, 131, 0.7),
    1424px 1700px rgba(184, 174, 131, 0.8),
    1797px 129px rgba(184, 174, 131, 0.8), 636px 1918px rgba(184, 174, 131, 0.4),
    887px 1823px rgba(184, 174, 131, 0.2), 229px 882px rgba(184, 174, 131, 1),
    1525px 829px rgba(184, 174, 131, 0.2),
    1538px 1091px rgba(184, 174, 131, 0.4),
    1646px 402px rgba(184, 174, 131, 0.5), 767px 1907px rgba(184, 174, 131, 0.6),
    1243px 737px rgba(184, 174, 131, 0.1), 668px 977px rgba(184, 174, 131, 1),
    1032px 515px rgba(184, 174, 131, 0.5),
    1389px 1662px rgba(184, 174, 131, 0.5),
    259px 1704px rgba(184, 174, 131, 0.5), 383px 121px rgba(184, 174, 131, 0.5),
    1441px 439px rgba(184, 174, 131, 0.4), 251px 892px rgba(184, 174, 131, 0.4),
    953px 196px rgba(184, 174, 131, 0.1), 1879px 1842px rgba(184, 174, 131, 0.5),
    45px 719px rgba(184, 174, 131, 0.9), 123px 674px rgba(184, 174, 131, 0.5),
    1036px 1162px rgba(184, 174, 131, 0.3),
    1329px 1733px rgba(184, 174, 131, 0.4),
    1651px 308px rgba(184, 174, 131, 0.2), 127px 1735px rgba(184, 174, 131, 0.3),
    984px 566px rgba(184, 174, 131, 0.3), 863px 1320px rgba(184, 174, 131, 0.2),
    593px 123px rgba(184, 174, 131, 0.4), 1376px 701px rgba(184, 174, 131, 0.2),
    361px 247px rgba(184, 174, 131, 0.9), 345px 810px rgba(184, 174, 131, 0.3),
    1231px 845px rgba(184, 174, 131, 0.9),
    1366px 1256px rgba(184, 174, 131, 0.1),
    1095px 276px rgba(184, 174, 131, 0.5),
    1285px 1597px rgba(184, 174, 131, 0.8),
    1857px 844px rgba(184, 174, 131, 0.3),
    1220px 1264px rgba(184, 174, 131, 0.7),
    1281px 1279px rgba(184, 174, 131, 0.8), 188px 250px rgba(184, 174, 131, 0.9),
    480px 337px rgba(184, 174, 131, 0.9), 1278px 105px rgba(184, 174, 131, 0.9),
    1689px 549px rgba(184, 174, 131, 1), 1476px 88px rgba(184, 174, 131, 0.7),
    297px 1304px rgba(184, 174, 131, 0.4), 446px 312px rgba(184, 174, 131, 0.2),
    1935px 353px rgba(184, 174, 131, 0.1), 410px 1567px rgba(184, 174, 131, 0.4),
    364px 351px rgba(184, 174, 131, 0.6), 405px 987px rgba(184, 174, 131, 0.5),
    73px 84px rgba(184, 174, 131, 0.4), 832px 459px rgba(184, 174, 131, 0.5),
    896px 1671px rgba(184, 174, 131, 0.9), 717px 166px rgba(184, 174, 131, 1),
    729px 129px rgba(184, 174, 131, 1), 51px 633px rgba(184, 174, 131, 0.6),
    1529px 912px rgba(184, 174, 131, 0.7), 903px 1827px rgba(184, 174, 131, 0.3),
    1737px 1829px rgba(184, 174, 131, 0.9),
    875px 1325px rgba(184, 174, 131, 0.3), 1305px 726px rgba(184, 174, 131, 0.8),
    1933px 965px rgba(184, 174, 131, 0.1), 950px 490px rgba(184, 174, 131, 0.1),
    1580px 887px rgba(184, 174, 131, 0.1), 482px 1499px rgba(184, 174, 131, 1),
    679px 182px rgba(184, 174, 131, 0.6), 1342px 936px rgba(184, 174, 131, 0.7),
    640px 633px rgba(184, 174, 131, 0.7), 311px 233px rgba(184, 174, 131, 0.3),
    1100px 680px rgba(184, 174, 131, 0.7),
    1058px 1675px rgba(184, 174, 131, 0.8),
    1928px 1615px rgba(184, 174, 131, 0.5),
    1497px 210px rgba(184, 174, 131, 0.2), 731px 771px rgba(184, 174, 131, 0.9),
    1960px 1592px rgba(184, 174, 131, 0.1),
    330px 1109px rgba(184, 174, 131, 0.9), 562px 1658px rgba(184, 174, 131, 0.5),
    207px 1303px rgba(184, 174, 131, 0.7), 1802px 591px rgba(184, 174, 131, 0.5),
    30px 1211px rgba(184, 174, 131, 0.8), 417px 839px rgba(184, 174, 131, 0.3),
    771px 97px rgba(184, 174, 131, 0.5), 664px 1763px rgba(184, 174, 131, 0.1),
    882px 1641px rgba(184, 174, 131, 0.6), 1068px 130px rgba(184, 174, 131, 0.2),
    330px 1923px rgba(184, 174, 131, 0.5), 297px 34px rgba(184, 174, 131, 0.1),
    479px 99px rgba(184, 174, 131, 0.8), 1662px 1194px rgba(184, 174, 131, 0.3),
    357px 1298px rgba(184, 174, 131, 0.9), 557px 39px rgba(184, 174, 131, 0.9),
    1316px 912px rgba(184, 174, 131, 0.2), 50px 328px rgba(184, 174, 131, 0.2),
    1623px 834px rgba(184, 174, 131, 0.3), 394px 702px rgba(184, 174, 131, 0.6),
    1747px 1986px rgba(184, 174, 131, 0.6),
    172px 1536px rgba(184, 174, 131, 0.2),
    1237px 1650px rgba(184, 174, 131, 0.1),
    1908px 1027px rgba(184, 174, 131, 0.5), 832px 510px rgba(184, 174, 131, 0.2),
    1660px 771px rgba(184, 174, 131, 0.5), 226px 1501px rgba(184, 174, 131, 0.3),
    182px 681px rgba(184, 174, 131, 0.5), 1306px 1389px rgba(184, 174, 131, 0.9),
    1995px 1064px rgba(184, 174, 131, 1), 1559px 817px rgba(184, 174, 131, 0.7),
    317px 744px rgba(184, 174, 131, 1), 1571px 1162px rgba(184, 174, 131, 0.6),
    719px 538px rgba(184, 174, 131, 0.2), 1034px 1931px rgba(184, 174, 131, 0.6),
    71px 786px rgba(184, 174, 131, 0.5), 1608px 1609px rgba(184, 174, 131, 0.6),
    1826px 1140px rgba(184, 174, 131, 1), 1350px 1563px rgba(184, 174, 131, 0.7),
    496px 1441px rgba(184, 174, 131, 0.9),
    1366px 1655px rgba(184, 174, 131, 0.9), 87px 1922px rgba(184, 174, 131, 1),
    469px 1066px rgba(184, 174, 131, 0.5), 1544px 653px rgba(184, 174, 131, 0.3),
    245px 872px rgba(184, 174, 131, 0.5), 22px 891px rgba(184, 174, 131, 0.8),
    1998px 1274px rgba(184, 174, 131, 0.2),
    1175px 893px rgba(184, 174, 131, 0.1), 1335px 382px rgba(184, 174, 131, 0.9),
    1669px 1112px rgba(184, 174, 131, 0.9),
    1237px 450px rgba(184, 174, 131, 0.5), 1071px 129px rgba(184, 174, 131, 0.4),
    1533px 951px rgba(184, 174, 131, 0.9), 597px 1519px rgba(184, 174, 131, 0.4),
    200px 821px rgba(184, 174, 131, 0.3), 1176px 814px rgba(184, 174, 131, 0.7),
    1717px 630px rgba(184, 174, 131, 0.7),
    1430px 1527px rgba(184, 174, 131, 0.5),
    762px 1595px rgba(184, 174, 131, 0.6), 1156px 303px rgba(184, 174, 131, 0.6),
    1589px 1217px rgba(184, 174, 131, 0.9),
    1888px 495px rgba(184, 174, 131, 0.2), 898px 552px rgba(184, 174, 131, 0.5),
    669px 399px rgba(184, 174, 131, 0.8), 1626px 1123px rgba(184, 174, 131, 0.8),
    712px 1987px rgba(184, 174, 131, 1), 1619px 123px rgba(184, 174, 131, 0.1),
    66px 1656px rgba(184, 174, 131, 0.5), 1773px 1345px rgba(184, 174, 131, 0.1),
    1403px 517px rgba(184, 174, 131, 0.8), 971px 127px rgba(184, 174, 131, 1),
    1756px 1352px rgba(184, 174, 131, 0.5),
    1081px 1373px rgba(184, 174, 131, 0.3),
    1399px 1114px rgba(184, 174, 131, 0.5),
    1852px 717px rgba(184, 174, 131, 0.9),
    1437px 1343px rgba(184, 174, 131, 0.2), 1355px 69px rgba(184, 174, 131, 0.4),
    182px 1225px rgba(184, 174, 131, 0.8), 808px 1706px rgba(184, 174, 131, 1),
    481px 944px rgba(184, 174, 131, 0.4), 165px 228px rgba(184, 174, 131, 0.7),
    1196px 1682px rgba(184, 174, 131, 0.8), 974px 806px rgba(184, 174, 131, 0.5),
    592px 1820px rgba(184, 174, 131, 0.1), 570px 764px rgba(184, 174, 131, 0.4),
    1953px 796px rgba(184, 174, 131, 0.2), 623px 203px rgba(184, 174, 131, 0.6),
    1767px 1090px rgba(184, 174, 131, 0.3),
    1263px 1552px rgba(184, 174, 131, 0.4),
    1175px 943px rgba(184, 174, 131, 0.1), 1938px 54px rgba(184, 174, 131, 0.3),
    230px 1806px rgba(184, 174, 131, 0.3),
    1541px 1542px rgba(184, 174, 131, 0.7),
    1523px 1829px rgba(184, 174, 131, 0.7), 743px 374px rgba(184, 174, 131, 0.7),
    332px 403px rgba(184, 174, 131, 0.7), 1678px 120px rgba(184, 174, 131, 1),
    1839px 1339px rgba(184, 174, 131, 0.5), 610px 10px rgba(184, 174, 131, 0.9),
    1115px 738px rgba(184, 174, 131, 0.1),
    1061px 1986px rgba(184, 174, 131, 0.3),
    1543px 1902px rgba(184, 174, 131, 0.1), 596px 437px rgba(184, 174, 131, 0.1),
    404px 15px rgba(184, 174, 131, 0.2), 751px 1947px rgba(184, 174, 131, 0.1),
    490px 1981px rgba(184, 174, 131, 0.3), 1430px 361px rgba(184, 174, 131, 0.5),
    1185px 1713px rgba(184, 174, 131, 0.7),
    1922px 1641px rgba(184, 174, 131, 0.1),
    1557px 300px rgba(184, 174, 131, 0.3),
    1574px 1355px rgba(184, 174, 131, 0.4),
    1156px 1393px rgba(184, 174, 131, 0.6), 499px 351px rgba(184, 174, 131, 0.1),
    894px 1217px rgba(184, 174, 131, 0.6), 1887px 342px rgba(184, 174, 131, 0.3),
    1184px 3px rgba(184, 174, 131, 1), 1724px 89px rgba(184, 174, 131, 0.3),
    307px 985px rgba(184, 174, 131, 0.7), 1330px 640px rgba(184, 174, 131, 0.4),
    950px 182px rgba(184, 174, 131, 0.6), 1282px 1422px rgba(184, 174, 131, 0.7),
    1739px 692px rgba(184, 174, 131, 0.2), 1991px 220px rgba(184, 174, 131, 0.1),
    1256px 747px rgba(184, 174, 131, 0.5), 1941px 321px rgba(184, 174, 131, 0.7),
    1876px 773px rgba(184, 174, 131, 0.9), 1167px 461px rgba(184, 174, 131, 0.7),
    1029px 1511px rgba(184, 174, 131, 0.2), 688px 880px rgba(184, 174, 131, 0.9),
    1709px 1135px rgba(184, 174, 131, 0.2), 813px 59px rgba(184, 174, 131, 0.3),
    1803px 1216px rgba(184, 174, 131, 0.6), 894px 931px rgba(184, 174, 131, 0.4),
    1060px 304px rgba(184, 174, 131, 1), 1288px 881px rgba(184, 174, 131, 0.5),
    1203px 982px rgba(184, 174, 131, 0.4), 1134px 991px rgba(184, 174, 131, 1),
    158px 1859px rgba(184, 174, 131, 1), 1613px 1358px rgba(184, 174, 131, 0.4),
    540px 1641px rgba(184, 174, 131, 0.2), 867px 737px rgba(184, 174, 131, 0.1),
    1707px 235px rgba(184, 174, 131, 0.7), 956px 1323px rgba(184, 174, 131, 1),
    921px 473px rgba(184, 174, 131, 0.7), 1812px 231px rgba(184, 174, 131, 0.2),
    1666px 201px rgba(184, 174, 131, 0.8), 801px 920px rgba(184, 174, 131, 0.7),
    228px 1860px rgba(184, 174, 131, 0.3), 1010px 1458px rgba(184, 174, 131, 1),
    616px 433px rgba(184, 174, 131, 0.4), 1246px 1954px rgba(184, 174, 131, 1),
    703px 1334px rgba(184, 174, 131, 0.8), 1182px 608px rgba(184, 174, 131, 1),
    322px 1381px rgba(184, 174, 131, 0.4), 445px 868px rgba(184, 174, 131, 0.1),
    1161px 1683px rgba(184, 174, 131, 1), 241px 352px rgba(184, 174, 131, 1),
    1598px 259px rgba(184, 174, 131, 0.6), 97px 67px rgba(184, 174, 131, 0.7),
    1390px 1228px rgba(184, 174, 131, 0.3),
    1505px 1601px rgba(184, 174, 131, 0.9),
    194px 1231px rgba(184, 174, 131, 0.6), 1886px 51px rgba(184, 174, 131, 0.6),
    916px 82px rgba(184, 174, 131, 0.2), 355px 1133px rgba(184, 174, 131, 0.4),
    160px 1668px rgba(184, 174, 131, 0.8), 143px 1998px rgba(184, 174, 131, 0.9),
    1887px 842px rgba(184, 174, 131, 0.3), 885px 1351px rgba(184, 174, 131, 0.9),
    365px 1146px rgba(184, 174, 131, 1), 1268px 1938px rgba(184, 174, 131, 0.8),
    1844px 332px rgba(184, 174, 131, 0.8), 980px 1144px rgba(184, 174, 131, 1),
    1501px 1394px rgba(184, 174, 131, 0.9),
    1426px 1506px rgba(184, 174, 131, 0.6),
    1958px 1335px rgba(184, 174, 131, 0.5), 836px 1985px rgba(184, 174, 131, 1),
    123px 473px rgba(184, 174, 131, 0.6), 770px 976px rgba(184, 174, 131, 0.3),
    571px 1665px rgba(184, 174, 131, 0.5), 333px 1835px rgba(184, 174, 131, 0.3),
    1716px 534px rgba(184, 174, 131, 0.7), 737px 1842px rgba(184, 174, 131, 0.1),
    1110px 1457px rgba(184, 174, 131, 0.1),
    673px 1768px rgba(184, 174, 131, 0.3), 414px 1040px rgba(184, 174, 131, 0.5),
    1045px 1580px rgba(184, 174, 131, 0.6),
    469px 1860px rgba(184, 174, 131, 0.4), 1077px 1126px rgba(184, 174, 131, 1),
    961px 1025px rgba(184, 174, 131, 0.7), 1932px 415px rgba(184, 174, 131, 0.2),
    1117px 1660px rgba(184, 174, 131, 0.5),
    1061px 1220px rgba(184, 174, 131, 0.4), 45px 201px rgba(184, 174, 131, 1),
    519px 639px rgba(184, 174, 131, 0.5), 1036px 1031px rgba(184, 174, 131, 0.4),
    792px 1361px rgba(184, 174, 131, 0.8), 1389px 24px rgba(184, 174, 131, 0.8),
    1547px 1055px rgba(184, 174, 131, 0.5), 1068px 801px rgba(184, 174, 131, 1),
    1323px 1335px rgba(184, 174, 131, 0.7),
    1934px 966px rgba(184, 174, 131, 0.2), 1499px 69px rgba(184, 174, 131, 0.5),
    1192px 1750px rgba(184, 174, 131, 0.9), 417px 820px rgba(184, 174, 131, 0.4),
    1559px 941px rgba(184, 174, 131, 0.6),
    1810px 1005px rgba(184, 174, 131, 0.3),
    805px 1264px rgba(184, 174, 131, 0.9), 203px 298px rgba(184, 174, 131, 0.7),
    691px 1484px rgba(184, 174, 131, 0.3), 196px 103px rgba(184, 174, 131, 0.4),
    1549px 90px rgba(184, 174, 131, 0.3), 182px 1491px rgba(184, 174, 131, 0.4),
    807px 1092px rgba(184, 174, 131, 0.3),
    1655px 1402px rgba(184, 174, 131, 0.6), 60px 1147px rgba(184, 174, 131, 0.2),
    1306px 738px rgba(184, 174, 131, 0.7), 316px 24px rgba(184, 174, 131, 0.4),
    1103px 1176px rgba(184, 174, 131, 0.3),
    215px 1179px rgba(184, 174, 131, 0.6), 335px 293px rgba(184, 174, 131, 0.6),
    1804px 877px rgba(184, 174, 131, 0.4), 679px 1456px rgba(184, 174, 131, 0.7),
    960px 1629px rgba(184, 174, 131, 0.1), 316px 305px rgba(184, 174, 131, 0.7),
    1421px 989px rgba(184, 174, 131, 0.3),
    1439px 1433px rgba(184, 174, 131, 0.9),
    303px 1147px rgba(184, 174, 131, 0.3),
    1727px 1777px rgba(184, 174, 131, 0.3), 215px 290px rgba(184, 174, 131, 0.9),
    873px 315px rgba(184, 174, 131, 0.4), 1805px 26px rgba(184, 174, 131, 1),
    699px 189px rgba(184, 174, 131, 0.4), 1919px 707px rgba(184, 174, 131, 0.1),
    885px 1781px rgba(184, 174, 131, 0.9), 954px 305px rgba(184, 174, 131, 0.6),
    1031px 534px rgba(184, 174, 131, 1), 1029px 629px rgba(184, 174, 131, 0.8),
    590px 1706px rgba(184, 174, 131, 0.9), 1151px 488px rgba(184, 174, 131, 0.1),
    420px 816px rgba(184, 174, 131, 0.4), 437px 1339px rgba(184, 174, 131, 0.4),
    1901px 1264px rgba(184, 174, 131, 0.9),
    1193px 1319px rgba(184, 174, 131, 0.8),
    1535px 854px rgba(184, 174, 131, 0.2), 1175px 617px rgba(184, 174, 131, 1),
    1985px 1111px rgba(184, 174, 131, 1), 1417px 1080px rgba(184, 174, 131, 0.9),
    1957px 1057px rgba(184, 174, 131, 0.2),
    1778px 1148px rgba(184, 174, 131, 0.3),
    457px 1187px rgba(184, 174, 131, 0.9),
    1396px 1659px rgba(184, 174, 131, 0.5),
    563px 1642px rgba(184, 174, 131, 0.7),
    1884px 1065px rgba(184, 174, 131, 0.4),
    813px 1706px rgba(184, 174, 131, 0.6), 895px 1319px rgba(184, 174, 131, 0.5),
    1844px 646px rgba(184, 174, 131, 0.6), 1844px 849px rgba(184, 174, 131, 0.3),
    585px 244px rgba(184, 174, 131, 0.3);
  background: transparent;
  border-radius: 100%;
  animation: blink 4s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

#stars3 {
  width: 4px;
  height: 4px;
  box-shadow: 381px 1120px rgba(165, 190, 195, 0.8),
    1398px 1414px rgba(184, 174, 131, 0.6), 934px 1328px rgba(184, 174, 131, 1),
    1900px 692px rgba(184, 174, 131, 0.4), 531px 924px rgba(184, 174, 131, 0.7),
    1305px 715px rgba(184, 174, 131, 0.7), 771px 659px rgba(184, 174, 131, 0.4),
    1119px 1077px rgba(184, 174, 131, 0.6), 85px 1332px rgba(184, 174, 131, 0.7),
    293px 952px rgba(184, 174, 131, 0.8), 855px 1725px rgba(184, 174, 131, 0.6),
    1528px 678px rgba(184, 174, 131, 0.7),
    1671px 1302px rgba(184, 174, 131, 0.4), 671px 911px rgba(184, 174, 131, 0.1),
    1784px 815px rgba(184, 174, 131, 0.6), 1250px 1157px rgba(184, 174, 131, 1),
    1198px 1356px rgba(184, 174, 131, 1), 6px 1522px rgba(184, 174, 131, 0.7),
    1583px 287px rgba(184, 174, 131, 0.5), 1897px 648px rgba(184, 174, 131, 0.9),
    1844px 388px rgba(184, 174, 131, 0.6), 684px 1862px rgba(184, 174, 131, 0.3),
    1869px 523px rgba(184, 174, 131, 0.7),
    1755px 1099px rgba(184, 174, 131, 0.9),
    869px 1656px rgba(184, 174, 131, 0.7), 1335px 1614px rgba(184, 174, 131, 1),
    1313px 1658px rgba(184, 174, 131, 0.6),
    1594px 1776px rgba(184, 174, 131, 0.8),
    1002px 1870px rgba(184, 174, 131, 0.8), 231px 1467px rgba(184, 174, 131, 1),
    331px 1839px rgba(184, 174, 131, 0.2), 330px 718px rgba(184, 174, 131, 0.3),
    508px 1715px rgba(184, 174, 131, 0.5), 1485px 928px rgba(184, 174, 131, 0.4),
    1300px 903px rgba(184, 174, 131, 0.7), 1000px 912px rgba(184, 174, 131, 0.1),
    1638px 1721px rgba(184, 174, 131, 0.4), 312px 318px rgba(184, 174, 131, 0.6),
    280px 1610px rgba(184, 174, 131, 0.8), 219px 432px rgba(184, 174, 131, 1),
    1140px 1753px rgba(184, 174, 131, 0.5), 222px 258px rgba(184, 174, 131, 0.1),
    1892px 555px rgba(184, 174, 131, 0.5), 185px 692px rgba(184, 174, 131, 1),
    928px 418px rgba(184, 174, 131, 0.8), 900px 1077px rgba(184, 174, 131, 0.3),
    231px 833px rgba(184, 174, 131, 0.2), 551px 115px rgba(184, 174, 131, 0.9),
    831px 1771px rgba(184, 174, 131, 0.5), 1156px 697px rgba(184, 174, 131, 0.3),
    739px 1526px rgba(184, 174, 131, 0.2), 709px 312px rgba(184, 174, 131, 0.5),
    244px 1881px rgba(184, 174, 131, 0.5), 1728px 112px rgba(184, 174, 131, 1),
    1215px 505px rgba(184, 174, 131, 0.2), 925px 231px rgba(184, 174, 131, 0.9),
    732px 1949px rgba(184, 174, 131, 0.1), 1838px 906px rgba(184, 174, 131, 0.6),
    1526px 332px rgba(184, 174, 131, 0.5), 1562px 181px rgba(184, 174, 131, 0.3),
    735px 1938px rgba(184, 174, 131, 0.5), 696px 1616px rgba(184, 174, 131, 1),
    1574px 1249px rgba(184, 174, 131, 0.1), 397px 897px rgba(184, 174, 131, 0.9),
    1309px 93px rgba(184, 174, 131, 0.9), 1690px 799px rgba(184, 174, 131, 0.5),
    646px 514px rgba(184, 174, 131, 0.9), 1526px 264px rgba(184, 174, 131, 0.5),
    1130px 1972px rgba(184, 174, 131, 0.9), 451px 727px rgba(184, 174, 131, 0.3),
    15px 1109px rgba(184, 174, 131, 0.3), 1334px 327px rgba(184, 174, 131, 0.7),
    401px 42px rgba(184, 174, 131, 0.5), 237px 458px rgba(184, 174, 131, 1),
    142px 778px rgba(184, 174, 131, 1), 1410px 1564px rgba(184, 174, 131, 0.5),
    309px 495px rgba(184, 174, 131, 0.3), 59px 1102px rgba(184, 174, 131, 0.7),
    88px 1567px rgba(184, 174, 131, 0.5), 1738px 952px rgba(184, 174, 131, 0.8),
    1504px 37px rgba(184, 174, 131, 0.3), 125px 609px rgba(184, 174, 131, 1),
    1813px 1913px rgba(184, 174, 131, 0.9),
    1678px 1785px rgba(184, 174, 131, 0.5), 26px 886px rgba(184, 174, 131, 0.8),
    577px 1837px rgba(184, 174, 131, 0.1), 627px 1662px rgba(184, 174, 131, 0.2),
    1825px 753px rgba(184, 174, 131, 0.2), 752px 464px rgba(184, 174, 131, 0.3),
    511px 1684px rgba(184, 174, 131, 0.9), 124px 463px rgba(184, 174, 131, 0.9),
    1656px 120px rgba(184, 174, 131, 0.8), 1743px 466px rgba(184, 174, 131, 0.6),
    408px 1740px rgba(184, 174, 131, 0.5),
    1372px 1735px rgba(184, 174, 131, 0.9),
    1279px 1489px rgba(184, 174, 131, 0.9),
    1174px 1889px rgba(184, 174, 131, 0.2),
    1226px 707px rgba(184, 174, 131, 0.3),
    1288px 1288px rgba(184, 174, 131, 0.6), 175px 818px rgba(184, 174, 131, 0.8),
    1779px 1088px rgba(184, 174, 131, 0.2),
    1152px 1586px rgba(184, 174, 131, 0.5), 1386px 79px rgba(184, 174, 131, 0.6),
    1867px 1966px rgba(184, 174, 131, 0.5),
    1914px 447px rgba(184, 174, 131, 0.1), 590px 672px rgba(184, 174, 131, 0.2),
    1563px 1771px rgba(184, 174, 131, 1), 1362px 1874px rgba(184, 174, 131, 1),
    1953px 711px rgba(184, 174, 131, 0.1), 1397px 392px rgba(184, 174, 131, 0.1),
    819px 1867px rgba(184, 174, 131, 0.9),
    1642px 1296px rgba(184, 174, 131, 0.8), 187px 931px rgba(184, 174, 131, 0.5),
    133px 1805px rgba(184, 174, 131, 0.7),
    1202px 1172px rgba(184, 174, 131, 0.3),
    1636px 1200px rgba(184, 174, 131, 0.9), 271px 934px rgba(184, 174, 131, 0.6),
    1299px 20px rgba(184, 174, 131, 0.8), 1077px 737px rgba(184, 174, 131, 0.2),
    675px 269px rgba(184, 174, 131, 0.4), 1036px 1959px rgba(184, 174, 131, 0.1),
    1140px 470px rgba(184, 174, 131, 1), 463px 894px rgba(184, 174, 131, 1),
    923px 613px rgba(184, 174, 131, 1), 1982px 1764px rgba(184, 174, 131, 0.9),
    619px 569px rgba(184, 174, 131, 0.4), 772px 1226px rgba(184, 174, 131, 0.5),
    409px 1611px rgba(184, 174, 131, 0.2), 1000px 556px rgba(184, 174, 131, 0.1),
    699px 834px rgba(184, 174, 131, 0.5), 541px 1882px rgba(184, 174, 131, 0.8),
    1703px 962px rgba(184, 174, 131, 0.4), 453px 1567px rgba(184, 174, 131, 0.9),
    1827px 401px rgba(184, 174, 131, 0.8), 875px 615px rgba(184, 174, 131, 0.4),
    11px 701px rgba(184, 174, 131, 0.7), 368px 1756px rgba(184, 174, 131, 0.5),
    1928px 1492px rgba(184, 174, 131, 1), 685px 454px rgba(184, 174, 131, 0.7),
    1417px 598px rgba(184, 174, 131, 0.7), 414px 1834px rgba(184, 174, 131, 0.6),
    1472px 1909px rgba(184, 174, 131, 0.6),
    1927px 1671px rgba(184, 174, 131, 0.1),
    1121px 295px rgba(184, 174, 131, 0.6),
    1209px 1933px rgba(184, 174, 131, 0.1),
    1421px 1494px rgba(184, 174, 131, 0.5), 57px 97px rgba(184, 174, 131, 1),
    305px 1634px rgba(184, 174, 131, 0.5), 651px 55px rgba(184, 174, 131, 0.9),
    782px 1570px rgba(184, 174, 131, 0.6), 1460px 276px rgba(184, 174, 131, 0.2),
    1255px 950px rgba(184, 174, 131, 0.4), 299px 297px rgba(184, 174, 131, 0.2),
    104px 1860px rgba(184, 174, 131, 0.2), 1795px 819px rgba(184, 174, 131, 0.9),
    1150px 1399px rgba(184, 174, 131, 0.1), 1887px 1263px rgba(184, 174, 131, 1),
    144px 1523px rgba(184, 174, 131, 0.1), 1520px 339px rgba(184, 174, 131, 0.6),
    1693px 580px rgba(184, 174, 131, 0.3), 267px 1464px rgba(184, 174, 131, 0.8),
    1443px 1391px rgba(184, 174, 131, 1), 155px 1359px rgba(184, 174, 131, 0.4),
    150px 888px rgba(184, 174, 131, 0.9), 141px 65px rgba(184, 174, 131, 0.8),
    1157px 452px rgba(184, 174, 131, 0.7), 851px 1356px rgba(184, 174, 131, 0.7),
    1439px 1827px rgba(184, 174, 131, 0.5),
    1684px 1850px rgba(184, 174, 131, 0.7),
    117px 1309px rgba(184, 174, 131, 0.5),
    1862px 1020px rgba(184, 174, 131, 0.3), 104px 65px rgba(184, 174, 131, 0.2),
    329px 1242px rgba(184, 174, 131, 0.5), 924px 1428px rgba(184, 174, 131, 1),
    645px 876px rgba(184, 174, 131, 0.8), 1105px 1701px rgba(184, 174, 131, 0.9),
    1490px 14px rgba(184, 174, 131, 0.2), 652px 1419px rgba(184, 174, 131, 0.6),
    295px 1357px rgba(184, 174, 131, 0.5), 769px 1817px rgba(184, 174, 131, 0.2),
    1516px 1387px rgba(184, 174, 131, 1), 975px 933px rgba(184, 174, 131, 0.2),
    1258px 610px rgba(184, 174, 131, 0.9),
    1850px 1440px rgba(184, 174, 131, 0.8),
    1527px 1937px rgba(184, 174, 131, 0.9),
    1426px 249px rgba(184, 174, 131, 0.9),
    1260px 1178px rgba(184, 174, 131, 0.9),
    929px 1636px rgba(184, 174, 131, 0.4), 696px 1957px rgba(184, 174, 131, 1),
    1720px 963px rgba(184, 174, 131, 0.8), 77px 426px rgba(184, 174, 131, 0.9),
    178px 1174px rgba(184, 174, 131, 0.1), 1513px 14px rgba(184, 174, 131, 0.9),
    550px 1742px rgba(184, 174, 131, 0.7), 1880px 742px rgba(184, 174, 131, 0.1),
    756px 235px rgba(184, 174, 131, 1), 401px 109px rgba(184, 174, 131, 0.6),
    727px 828px rgba(184, 174, 131, 0.9), 198px 684px rgba(184, 174, 131, 0.9),
    1853px 1941px rgba(184, 174, 131, 0.9), 588px 586px rgba(184, 174, 131, 0.7),
    1462px 860px rgba(184, 174, 131, 0.1),
    1996px 1486px rgba(184, 174, 131, 0.5),
    1999px 1787px rgba(184, 174, 131, 0.9), 769px 383px rgba(184, 174, 131, 0.7),
    1906px 1684px rgba(184, 174, 131, 0.8),
    802px 1536px rgba(184, 174, 131, 0.5),
    1332px 1226px rgba(184, 174, 131, 0.3), 1562px 1365px rgba(184, 174, 131, 1),
    1756px 589px rgba(184, 174, 131, 0.7), 1549px 648px rgba(184, 174, 131, 0.4),
    1661px 961px rgba(184, 174, 131, 0.1), 591px 591px rgba(184, 174, 131, 0.8),
    203px 1320px rgba(184, 174, 131, 0.4), 1513px 218px rgba(184, 174, 131, 0.5),
    648px 523px rgba(184, 174, 131, 0.5), 233px 801px rgba(184, 174, 131, 1),
    1203px 850px rgba(184, 174, 131, 0.9),
    1634px 1349px rgba(184, 174, 131, 0.8),
    1807px 797px rgba(184, 174, 131, 0.5), 630px 945px rgba(184, 174, 131, 1),
    1093px 591px rgba(184, 174, 131, 0.4), 129px 1557px rgba(184, 174, 131, 0.5),
    1782px 1797px rgba(184, 174, 131, 0.3),
    1163px 1085px rgba(184, 174, 131, 0.2), 47px 13px rgba(184, 174, 131, 0.6),
    1612px 667px rgba(184, 174, 131, 0.1), 94px 1979px rgba(184, 174, 131, 0.4),
    765px 1150px rgba(184, 174, 131, 0.1), 7px 1148px rgba(184, 174, 131, 0.1),
    1042px 1162px rgba(184, 174, 131, 0.5), 848px 478px rgba(184, 174, 131, 1),
    1979px 286px rgba(184, 174, 131, 0.7), 1132px 607px rgba(184, 174, 131, 0.6),
    339px 13px rgba(184, 174, 131, 0.5), 575px 1767px rgba(184, 174, 131, 0.7),
    1779px 71px rgba(184, 174, 131, 0.1), 1741px 572px rgba(184, 174, 131, 0.9),
    502px 1723px rgba(184, 174, 131, 0.5), 1318px 328px rgba(184, 174, 131, 0.6),
    1178px 1197px rgba(184, 174, 131, 0.2),
    1344px 657px rgba(184, 174, 131, 0.5),
    1386px 1637px rgba(184, 174, 131, 0.3),
    1802px 1064px rgba(184, 174, 131, 0.3), 47px 1899px rgba(184, 174, 131, 0.2),
    719px 1509px rgba(184, 174, 131, 0.5),
    1037px 1417px rgba(184, 174, 131, 0.4),
    1435px 283px rgba(184, 174, 131, 0.4),
    1553px 1117px rgba(184, 174, 131, 0.6), 781px 816px rgba(184, 174, 131, 0.6),
    1037px 1081px rgba(184, 174, 131, 0.3),
    239px 1704px rgba(184, 174, 131, 0.8), 494px 1721px rgba(184, 174, 131, 0.6),
    629px 300px rgba(184, 174, 131, 0.5), 828px 1041px rgba(184, 174, 131, 0.7),
    1736px 766px rgba(184, 174, 131, 0.5), 338px 1575px rgba(184, 174, 131, 0.5),
    1398px 644px rgba(184, 174, 131, 0.2), 970px 305px rgba(184, 174, 131, 0.6),
    683px 422px rgba(184, 174, 131, 0.6), 1557px 1751px rgba(184, 174, 131, 0.3),
    841px 1136px rgba(184, 174, 131, 0.6), 106px 774px rgba(184, 174, 131, 0.4),
    835px 401px rgba(184, 174, 131, 0.1), 985px 38px rgba(184, 174, 131, 0.9),
    985px 853px rgba(184, 174, 131, 0.5), 1803px 686px rgba(184, 174, 131, 0.7),
    1967px 1316px rgba(184, 174, 131, 0.2),
    1882px 119px rgba(184, 174, 131, 0.9), 1046px 44px rgba(184, 174, 131, 0.8),
    799px 1078px rgba(184, 174, 131, 0.6), 772px 868px rgba(184, 174, 131, 1),
    1207px 1513px rgba(184, 174, 131, 0.4),
    156px 1944px rgba(184, 174, 131, 0.7),
    1038px 1059px rgba(184, 174, 131, 0.2),
    1412px 1482px rgba(184, 174, 131, 0.1),
    838px 1096px rgba(184, 174, 131, 0.6), 437px 206px rgba(184, 174, 131, 0.9),
    509px 1420px rgba(184, 174, 131, 0.1), 1296px 452px rgba(184, 174, 131, 0.8),
    1710px 1941px rgba(184, 174, 131, 0.2),
    810px 1907px rgba(184, 174, 131, 0.4), 1474px 35px rgba(184, 174, 131, 0.5),
    672px 1948px rgba(184, 174, 131, 1), 581px 690px rgba(184, 174, 131, 0.5),
    406px 1288px rgba(184, 174, 131, 0.2), 42px 1013px rgba(184, 174, 131, 0.2),
    1557px 1260px rgba(184, 174, 131, 0.2),
    1925px 1308px rgba(184, 174, 131, 0.1), 161px 769px rgba(184, 174, 131, 0.8),
    1666px 1184px rgba(184, 174, 131, 0.7), 556px 458px rgba(184, 174, 131, 0.1),
    1018px 1334px rgba(184, 174, 131, 0.3),
    1193px 646px rgba(184, 174, 131, 0.7), 508px 99px rgba(184, 174, 131, 0.4),
    727px 1337px rgba(184, 174, 131, 0.8), 340px 1255px rgba(184, 174, 131, 0.4),
    598px 1773px rgba(184, 174, 131, 0.8), 434px 1876px rgba(184, 174, 131, 0.6),
    973px 1868px rgba(184, 174, 131, 0.8), 1544px 347px rgba(184, 174, 131, 0.3),
    1829px 1711px rgba(184, 174, 131, 0.8);
  background: transparent;
  border-radius: 100%;
  animation: blink 3s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
