* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000e1e;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    color: #009ec5;
}

.card-container {
    padding: 100px 0;
}

.card {
    width: 350px;
    height: 500px;
    box-shadow: rgba(0, 204, 255, 0.192) 1px 1px 10px 10px;
    border-radius: 3px;
    margin: 0 auto;
}

.card-img-container {
    overflow: hidden;
    height: 50%;
    display: grid;
    justify-content: center;
}

img {
    width: 220px;
    transition-duration: 800ms;
    cursor: pointer;
}

img:hover {
    width: 280px;
}

.card-body {
    border-top: 3px solid #004a6d;
    margin-top: 20px;
    padding: 20px;
}

.card-title {
    font-size: 25px;
    color: #ccf7ffe1;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.rating {
    font-size: 15px;
    color: #009ec5;
}

.card-details {
    font-size: 15px;
    color: #9de0ff65;
}

.price {
    font-size: 26px;
    color: #009ec5;
    font-weight: 600;
}

.btn-group {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 10px 0px;
}

.btn-group button {
    background: #009ec5;
    font-size: 20px;
    padding: 7px;
    border-radius: 8px;
    border: 2px solid #3333337a;
    cursor: pointer;
    transition-duration: 100ms;
}

button:hover {
    font-size: 21px;
}