@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    font-family: 'Raleway', sans-serif !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    background-image: url("");
  }
  
  .form-control {
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    border-radius: 12px !important;
    background-color: transparent !important;
    transition: 0.5s !important;
  }
  
  .form-control:focus {
    box-shadow: 0 0 0 0.25rem #ef9b0f !important;
  }
  
  .field {
    margin: 30px 0;
  }
  
  .btn-clear {
    position: relative;
    float: right;
    cursor: pointer;
    border: 2px solid #ffffff !important;
    padding: 4px 10px;
    border-radius: 12px;
    margin: 16px 16px -16px 0;
    transition: 0.5s;
  }
  
  .btn-clear:hover {
    transform: scale(1.05);
    background-color: #ff0000 !important;
  }
  
  .page_title {
    text-align: center;
    margin: 20px 0 40px;
  }
  
  #word_counter {
    font-size: 24px;
    color: #00ffbb;
    font-weight: bold;
  }