@import url(https://fonts.googleapis.com/css?family=Lato:300);
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(stars-1837306__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.letter {
    background-color: #533d85;
    width: 100px;
    color: white;
    height: 100px;
    margin-right: 5px;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    opacity: 0.7;
    border-radius: 50%;
    font-style: bold;
    font-weight: bold;
    border: 2px solid white;
    box-shadow: inset -5px 2px 4px 2px white;
    -webkit-animation: shake 5s infinite;
    animation: shake 5s infinite;
    position: relative;
}

button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
}

button:hover {
    background-color: white;
    color: black;
}

.block {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin: 6%;
    padding: 10px;
}

.letter:hover {
    transform: translate(1.2);
}

.letter1 {
    background-color: #8f6398;
    width: 85px;
    color: white;
    border: 2px solid white;
    height: 85px;
    margin-right: 5px;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    opacity: 0.7;
    border-radius: 50%;
    font-style: bold;
    font-weight: bold;
    box-shadow: inset -5px 2px 4px 2px white;
    -webkit-animation: shake2 5s infinite;
    animation: shake2 5s infinite;
    position: relative;
}

@keyframes shake {
    0% {
        top: 0px;
        left: 0px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0px;
    }
}

@keyframes shake2 {
    0% {
        top: 20px;
    }
    50% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}

@media screen and (max-width:600px) {
    .block {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media screen and (max-width:200px) {
    .block {
        grid-template-columns: auto;
    }
}
