@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #5a5a5a;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  height: 48px;
  width: 48px;
  color: #5a5a5a;
  position: relative;
  display: block;
  border: 6px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 1.5s linear infinite;
  margin: 0;
}

.spinner-show {
  color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  width: 150px;
  height: 30px;
  margin-top: 16px;
  border-radius: 15px;
  border: none;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: -4px 5px 11px -1px rgba(36, 11, 11, 0.75);
  -webkit-box-shadow: -4px 5px 11px -1px rgba(36, 11, 11, 0.75);
  -moz-box-shadow: -4px 5px 11px -1px rgba(36, 11, 11, 0.75);
}

button:active {
  transform: scale(0.95);
  transition: cubic-bezier(0, 2.28, 0.95, 0.69) 0.5s;
}
