* {
    box-sizing: border-box;
}

body {
    background-color: #256D85;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
}

h1{
    margin: 10px;
}

.box {
    background-color: #06283D;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 30%;
    height: 20%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.8s ease-in;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}

.box h2 {
    font-size: 45px;
}
