@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Ubuntu:wght@300;400&display=swap');

:root {
  --col-primary: rgb(50, 74, 209);
  --col-accent: rgb(231, 40, 40);
  --col-white: #ffff;
  --col-light: rgb(231, 231, 231);
  --col-dark: rgb(122, 122, 122);
  --col-shadow: 2px 5px 30px rgb(87, 87, 87);
  --font-primary: "Rubik", sans-serif;
  --font-accent: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: rgb(231, 231, 231);
}

.map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--col-white);
  width: 900px;
  margin: 0 auto;
  font-family: var(--font-primary);
  color: var(--col-dark);
}

.map-container-item {
  flex-basis: 50%;
}

.info-box {
  display: flex;
  flex-direction: column;
  background-color: var(--col-white);
}

.name-container {
  padding: 20px;
  background: rgb(0, 35, 111);
  background: linear-gradient(
    135deg,
    rgb(0, 50, 158) 0%,
    rgb(7, 156, 255) 100%
  );
}

.name-container h2 {
  color: var(--col-white);
  font-family: var(--font-accent);
  font-weight: lighter;
  font-size: 2rem;
}

.info-details {
  padding: 20px;
}

.info-details p {
  margin-bottom: 13px;
}

table {
  border: none;
  margin-top: 30px;
}

.table-row * {
  padding-right: 20px;
  padding-bottom: 7px;
}
