body {
  margin: 0%;
  background-color: #191919;
}

button {
  position: absolute;
  margin-top: 200px;
  margin-left: 200px;
  color: #191919;
  background-color: orange;
  border: none;
  font-size: 2rem;
  width: 12rem;
  height: 4rem;
  border-radius: 1rem;
  /* box-shadow: 0 10px 6px -6px #777; */
}

button:hover {
  transition: 1s;
  color: white;
  background-color: #191919;
  border: 2px solid white;
}

.fa-ghost {
  position: absolute;
  margin-top: 200px;
  margin-left: 273px;
  width: 2rem;
  height: 2rem;
  color: white;
}
