.dateBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.textStyle1 {
    
}

.textStyle2 {
    
}

.clockBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
