* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(233, 233, 233);
}

.list-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 233, 233);
}

.list-item {
    display: flex;
    width: 90%;
    margin: 20px 0;
    height: 250px;
}

.item-image img {
    height: 100%; 
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.item-content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 49, 49);
    padding: 10px 10px;
    justify-content: space-between;
    width: 100%;
    color: rgb(189, 189, 189);
    border-radius: 0 5px 5px 0;
}

.item-content-desc {
    padding: 20px 0;
}

.item-content-footer {
    font-size: 0.8rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .list-item {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 250px;
        background-color: rgb(49, 49, 49);
    }

    .item-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }

    .item-content {
        border-radius: 0 0 5px 5px;
    }

}