body{
    background-color: black;
}
.container {
    width: 100%;
    padding: 30px 10px;
}

.animate-text {
    text-align: center;
    width: 100%;
    text-transform: lowercase;
    background-image: linear-gradient(
            -45deg,
            #155754 0%,
            #7a1033 67%,
            #ccff13 29%,
            #ff0000 0%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 250% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 8s linear infinite;
    display: inline-block;
    font-size: 150px;
}

@keyframes textclip {
    to {
        background-position: 250% center;
    }
}