@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* background credit: https://unsplash.com/photos/4e9eeHdiBi0 */
body {
    background: url(./KevinBosc-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    position: relative;
    padding: 1.5rem;
    margin-top: 2.2em;
    background-color: rgba(31, 41, 55, 0.95);
    flex-direction: column;
    justify-content: center;
    max-width: 24rem;
    border-radius: 0.75rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
    backdrop-filter: opacity(0.8);
}

.container::after {
    width: 100%;
    height: 1px;
    display: block;
    margin-top: 1.3em;
    background: #e9eff6;
}

.image {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.name {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.description {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3em;
}

.social-icons {
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: #fff;
    width: 64px;
    height: 64px;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: 300ms ease-out 100ms;
}

a:nth-of-type(1) {
    background: #fff;
}
a:nth-of-type(2) {
    background: #0572e6;
}
a:nth-of-type(3) {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
}

a:hover {
    scale: 1.2;
}
