
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(122, 175, 184);
    color: rgb(4, 43, 53);
}

.container {

    height: 300px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;

}
.night{
    background-color: black;
}
.btn{
    width: 300px;
    height: 40px;
    background-color: rgb(4, 43, 53);
    border-radius: 20px;
    border: none;
    color: rgb(164, 216, 225);
    font-weight: 600;
        font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.quote{
    text-align: center;
}