.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 49vh;
    border: 2px solid rgb(247, 242, 242);
    background-color: #dee2e6;
    box-shadow: 5px 10px 8px 2px #888888;
    border-radius: 18px;
}
h2{
    text-align: center;
    margin: 2vh 0px 5px 0px;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%;
    height: 49vh;
    margin: 10px auto;
}
.button{
    padding: 0px;
    margin: 2px 2px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color:darkslategrey;
    width: 48px;
    height: 8vh;
    text-align: centre center;
    box-shadow: inset 8px 8px 8px rgb(119, 156, 226);
}


.input{
    display: block;
    margin: 10px auto ;
    padding: 0px;
    border-radius: 3px;
    width: 390px;
    height: 9vh;
    text-align: right;
    font-size:x-large;
    background: #c6c8c9;
    box-shadow: inset 8px 8px 8px #7b7b7c;
}
.border{
    margin: 20;
    border-radius: 12px;
    border: 3px solid black;
    width: fit-content;
}
#equal{
    background-color: darkgoldenrod;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.background{
    width: 100%;
    height: 100vh;
    background-color: rgb(237, 159, 172);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0%;
}
.hborder{
    border-radius: 2px;
    border: 1px solid black;
    width: fit-content;
    
}
#chan{
    display: flex;
    justify-content: center;
    width: 100%;
}
.theme{
    position:absolute;
    width: 180px;
    height: 30px;
    margin-left: 50px ;
    font-size: large;
    background-color:rgb(113, 15, 179);
    box-shadow: inset 8px 8px 8px rgb(89, 236, 200);
    color: white;    
}
.buttons{
    display: block;
    cursor: pointer;
    align-items: center;
}
.dark-mode .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 49vh;
    border: 2px solid rgb(192, 227, 249);
    background-color:rgb(139, 235, 235);
    box-shadow: 5px 10px 8px 2px #5c5e5e;
    border-radius: 18px; 
}
.dark-mode h2{
    text-align: center;
    margin: 2vh 0px 5px 0px;    
}
.dark-mode #chan{
    display: flex;
    justify-content: center;
    width: 100%;   
}
.dark-mode #box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%;
    height: 49vh;
    margin: 10px auto;   
}
.dark-mode .button{
    padding: 0px;
    margin: 2px 2px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color:rgb(64, 64, 70);
    box-shadow: none;
    width: 48px;
    height: 8vh;
    text-align: centre center; 
}
.dark-mode .theme{
    position:absolute;
    width: 180px;
    height: 30px;
    margin-left: 50px ;
    font-size: large;
    background-color:rgb(240, 161, 174);
    box-shadow: none;
    color:black;     
}
.dark-mode .background{
    width: 100%;
    height: 100vh;
    background-color: rgb(88, 87, 87);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0%;  
}
.dark-mode .border{
    margin: 20;
    border-radius: 12px;
    border: 3px solid white;
    width: fit-content;
}
.dark-mode{
    text-align: center;
    color: white;
}
.dark-mode .input{
    display: block;
    margin: 10px auto ;
    padding: 0px;
    border-radius: 3px;
    width: 390px;
    height: 9vh;
    text-align: right;
    font-size:x-large;
    background: #75ccf8;
    box-shadow: inset 8px 8px 8px #8f9aa0;
}


