* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-image: url(./posters/back.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.heading{
  font-family: Copperplate, Papyrus, fantasy;
  font-weight: bolder;
  font-size: 5rem;
  color: rgb(232, 234, 237);
   
  text-align: center;
}

.outClass {
  background-color: rgba(0, 0, 0, 0.599);
  width: 100%;

  padding: 1rem;
  align-items: center;
  margin: auto;
}

.posterDiv {
  align-items: center;
  text-align: center;

  margin: 3.4rem;
  width: 24.6rem;
  height: 20rem;
  padding: 0%;
}

.showImg {
  box-shadow: 0 0 25px 5px white;
  height: 20rem;
  width: 15rem;
  transition: transform 0.5s ease;
}

.showImg:hover {
  cursor: default;
  transform: rotateY(180deg);
  transition: all 0.5s ease;
}

.main {
  position: relative;
  align-items: center;
  text-align: center;
   
  width: 15rem;
  height: 20rem;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.front {
  background-color: rgba(0, 0, 0, 0.599);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #333;
}

.front:hover {
  background-color: aliceblue;
}

.back {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(47, 48, 50);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}

h1 {
  padding-top: 2rem;
  font-family: alegreya-sc, serif;
  font-weight: 800;
  font-size: 1.3rem;
  font-style: italic;
  padding-bottom: 1rem;
}

span {
  font-family: alegreya, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.7rem;
}
p{
font-family: alegreya, serif;

font-weight: 400;

font-style: normal;  padding: 1rem;
}


h4{
  font-family: Copperplate, Papyrus, fantasy;
  font-weight: bolder;
  font-size: 2rem;
  color: rgb(234, 237, 237);
  text-align: center;
}

div > h4 > a >img {
  border-radius: 70%;
cursor: pointer;
}

img :hover{
  cursor: pointer;
}

.followMe{
 padding:1.5rem;
 margin-top: 18rem;
 padding-bottom: 10rem;
}

 
.order{
  font-size: 6.7rem;
}
.git{
  width:5rem;height:5rem; border-radius:
                                50%;
}